$black: #000;
$dark: #3A393B;
/*try a darker shade of light (see http://www.color-hex.com/color/939196)*/
/*$light: #939196;*/
$light: #666569;
/* #BF1710 = red */
$accent: #BF1710;
$cornflower: #6b99d7;
$lesbian: #ae95ce;

$containerMargin:48px;

$column: 100% / 6;
$margin: 18px;
$grid-gutter-width: $margin;
$max-container-width: 942px;
