
/* ::::: http://static.typepad.com/.shared:vb207d12:typepad:en_us/themes/common/base-weblog.css?v=2 ::::: */

html { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; font-family: verdana,'trebuchet ms',sans-serif; font-size: 12px; }
form { margin: 0px; padding: 0px; }
a { text-decoration: underline; }
a img { border: 0px none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote { margin-top: 10px; margin-bottom: 10px; }
.clr { clear: both; overflow: hidden; width: 1px; height: 1px; margin: 0px -1px -1px 0px; border: 0px none; padding: 0px; font-size: 0px; line-height: 0; }
.pkg:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
.pkg { display: inline-block; }
* html .pkg { height: 1%; }
.pkg { display: block; }
body { text-align: center; }
#container { position: relative; margin: 0px auto; width: 720px; text-align: left; }
#container-inner { position: static; width: auto; }
#banner { position: relative; }
#banner-inner { position: static; }
#pagebody { position: relative; width: 100%; }
#pagebody-inner { position: static; width: 100%; }
#alpha, #beta, #gamma, #delta { display: inline; position: relative; float: left; min-height: 1px; }
#delta { float: right; }
#alpha-inner, #beta-inner, #gamma-inner, #delta-inner { position: static; }
.banner-user { float: left; overflow: hidden; width: 64px; margin: 0px 15px 0px 0px; border: 0px none; padding: 0px; text-align: center; }
.banner-user-photo { display: block; margin: 0px 0px 2px; border: 0px none; padding: 0px; background-position: center center; background-repeat: no-repeat; text-decoration: none ! important; }
.banner-user-photo img { width: 64px; height: auto; margin: 0px; border: 0px none; padding: 0px; }
.nav-list { margin: 0px; padding: 0px; list-style: none outside none; }
.nav-list-item { display: block; float: left; }
.nav-list-item a { display: block; padding: 5px 10px; }
.content-nav { margin: 10px; text-align: center; }
.date-header, .entry-content { position: static; clear: both; }
.entry, .trackbacks, .reactions, .comments, .archive { position: static; overflow: hidden; clear: both; width: 100%; margin-bottom: 20px; }
.entry-content, .trackbacks-info, .trackback-content, .comments-info, .comments-open-content, .comments-closed { clear: both; margin: 5px 10px; }
.comment-data .comment-content { float: left; clear: right; margin: 0px; }
.comment-inline-edit, .comment-inline-preview { margin-top: 10px; }
.comment-number { display: inline; float: left; margin-right: 8px; }
.comment-header .comment-header-right { margin: 0px; clear: none; }
.comment-header .comment-header-left { float: left; }
.comment-has-avatar .comment-avatar { float: left; width: 56px; }
.comment-has-avatar .comment-avatar img { border: 1px solid rgb(153, 153, 153); padding: 2px; background-color: rgb(255, 255, 255); }
.comment-has-avatar .comment-content, .comment-has-avatar .comment-footer { margin-left: 66px; }
.trackbacks-info p, .comments-info p { margin-top: 5px; }
.trackbacks-link { font-size: 0.8em; }
.entry-excerpt, .entry-body, .entry-more-link, .entry-more { clear: both; }
.trackback-footer, .comments-open-footer, .archive-content { clear: both; margin: 5px 10px 20px; }
.entry-footer { margin: 5px 0px 20px; clear: both; }
.entry-footer p { margin-top: 0px; margin-bottom: 2px; }
.entry-footer-share { clear: both; display: block; font-size: 14px ! important; height: 20px; margin: 0px; padding: 0px; text-transform: uppercase; vertical-align: top; }
.entry-footer-share span { line-height: 0.75em; position: relative; top: 0px; vertical-align: middle; float: left; margin: 1px 2px 1px 0px; display: inline-block; }
.entry-footer-share .separator { color: rgb(204, 204, 204); }
.entry-footer-share-buttons .separator { display: none; }
.entry-footer-share-buttons { font-size: 10px; height: 20px; line-height: 1em; margin: 0px 1px 0px 0px; position: relative; top: 0px; }
.entry-footer-share-buttons .share-link { background-color: rgb(237, 237, 237); background-repeat: no-repeat; border: 1px solid rgb(221, 221, 221); color: rgb(119, 119, 119); display: inline-block; font-family: Verdana,sans-serif; font-style: normal; font-weight: 400; padding: 4px 6px 4px 24px; text-decoration: none; text-transform: none; vertical-align: bottom; }
.entry-footer-share-buttons .entry-footer-links-delicious, .entry-footer-share-buttons .entry-footer-links-digg, .entry-footer-share-buttons .entry-footer-links-favorite, .entry-footer-share-buttons .entry-footer-links-reblog, .entry-footer-share-buttons .entry-footer-links-plusone, .entry-footer-share-buttons .entry-footer-links-twitter { display: inline-block; float: left; text-align: left; vertical-align: top; }
.entry-footer-share-buttons .share-link:hover { border-color: rgb(187, 187, 187); color: rgb(85, 85, 85); }
.entry-footer-share-buttons .share-link-reblog { background-image: url('share-link-bg-reblog.gif'); display: inline-block; font-family: Verdana,sans-serif; font-size: 10px; height: 10px; vertical-align: top; }
.entry-footer-share .favorite { height: 20px; vertical-align: top; width: 84px; }
.entry-footer-share-buttons .share-link-digg { background-image: url('share-link-bg-digg.gif'); font-family: Verdana,sans-serif; font-size: 10px; height: 10px; }
.entry-footer-share-buttons .share-link-delicious { background-image: url('share-link-bg-delicious.gif'); font-family: Verdana,sans-serif; font-size: 10px; height: 10px; min-width: 102px; }
.entry-footer-share .entry-footer-links-twitter iframe { min-width: 58px ! important; }
.entry-footer-links-plusone { display: inline-block; width: 60px; }
.entry-footer-share .entry-footer-links-facebook_like { padding: 0px; width: 47px; margin: 0px 1px 0px 0px; position: relative; top: 0px; }
.entry-footer-share .entry-footer-links-pinterest { position: relative; margin: 0px 2px 0px 0px; top: 0px; }
.comments-open label { display: block; }
#comment-author, #comment-email, #comment-url, #comment-text { width: 240px; }
#comment-text { margin-bottom: 3px; }
#comment-bake-cookie { margin-left: 0px; vertical-align: middle; }
#comment-post { font-weight: bold; }
img.image-full { display: block; width: 100%; -moz-box-sizing: border-box; }
.image-thumbnail { float: left; width: 115px; margin: 0px 10px 10px 0px; }
.image-thumbnail img { width: 115px; height: 115px; margin: 0px 0px 2px; }
.module { position: relative; overflow: hidden; width: 100%; }
.module-content { position: relative; margin: 5px 10px 20px; }
.module-list, .archive-list { margin: 0px; padding: 0px; list-style: none outside none; }
.module-list-item, .archive-list-item { margin-top: 5px; margin-bottom: 5px; }
.module-more { text-align: right; }
.module-elsewhere .module-list img, .archive-elsewhere .archive-list img, .module-presence img { vertical-align: middle; }
.module-powered .module-content { margin-bottom: 10px; }
.module-photo .module-content { text-align: center; }
.module-wishlist .module-content { text-align: center; }
.module-qrcode .module-content { text-align: center; }
.module-search .module-content { margin-top: 10px; }
.module-search input[type="search"] { width: 75%; margin-right: 6px; margin-bottom: 10px; }
.module-calendar .module-content table { border-collapse: collapse; width: 100%; }
.module-calendar .module-content th, .module-calendar .module-content td { width: 14%; text-align: center; }
.module-category-cloud .module-list { margin-right: 0px; margin-left: 0px; }
.module-category-cloud .module-list-item { display: inline; margin: 0px 5px 0px 0px; padding: 0px; line-height: 1.2em; background: none repeat scroll 0% 0% transparent; }
.module-category-cloud .cloud-weight-1 { font-size: 0.9em; }
.module-category-cloud .cloud-weight-2 { font-size: 0.95em; }
.module-category-cloud .cloud-weight-3 { font-size: 1em; }
.module-category-cloud .cloud-weight-4 { font-size: 1.125em; }
.module-category-cloud .cloud-weight-5 { font-size: 1.25em; }
.module-category-cloud .cloud-weight-6 { font-size: 1.375em; }
.module-category-cloud .cloud-weight-7 { font-size: 1.5em; }
.module-category-cloud .cloud-weight-8 { font-size: 1.625em; }
.module-category-cloud .cloud-weight-9 { font-size: 1.75em; }
.module-category-cloud .cloud-weight-10 { font-size: 1.75em; }
.typelist-plain .module-list, .typelist-plain .archive-list { list-style: none outside none; }
.typelist-plain .module-list-item, .typelist-plain .archive-list-item { padding: 0px; background: none repeat scroll 0% 0% transparent; }
.typelist-thumbnailed { margin: 0px 0px 20px; }
.typelist-thumbnailed .module-list-item { display: block; clear: both; margin: 0px; }
.typelist-thumbnailed .module-list-item:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
.typelist-thumbnailed .module-list-item { display: inline-block; }
* html .typelist-thumbnailed .module-list-item { height: 1%; }
.typelist-thumbnailed .module-list-item { display: block; }
.typelist-thumbnail { float: left; min-width: 60px; width: auto; margin: 0px 5px 0px 0px; text-align: center; vertical-align: middle; }
.typelist-thumbnail img { margin: 5px; }
.module-galleries .typelist-thumbnail img { width: 50px; }
.typelist-description { margin: 0px; padding: 5px; }
.typelist-no-description { text-align: center; margin: 10px 0px; }
.module-featured-photo .module-content, .module-photo .module-content { margin: 0px; }
.module-featured-photo img { width: 100%; }
.module-recent-photos { margin: 0px 0px 15px; }
.module-recent-photos .module-content { margin: 0px; }
.module-recent-photos .module-list { display: block; height: 1%; margin: 0px; border: 0px none; padding: 0px; list-style: none outside none; }
.module-recent-photos .module-list:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
.module-recent-photos .module-list { display: inline-block; }
* html .module-recent-photos .module-list { height: 1%; }
.module-recent-photos .module-list { display: block; }
.module-recent-photos .module-list-item { display: block; float: left; height: 1%; margin: 0px; border: 0px none; padding: 0px; }
.module-recent-photos .module-list-item a { display: block; margin: 0px; border: 0px none; padding: 0px; }
.module-recent-photos .module-list-item img { width: 60px; height: 60px; margin: 0px; padding: 0px; }
.module-mmt-calendar { margin-bottom: 15px; }
.module-mmt-calendar .module-content { margin: 0px; }
.module-mmt-calendar .module-header { margin: 0px; }
.module-mmt-calendar .module-header a { text-decoration: none; }
.module-mmt-calendar table { width: 100%; }
.module-mmt-calendar th { text-align: left; }
.module-mmt-calendar td { width: 14%; height: 75px; text-align: left; vertical-align: top; }
.day-photo { width: 54px; height: 54px; }
.day-photo a { display: block; }
.day-photo a img { width: 50px; height: 50px; }
.module-miniprofile .module-content { text-align: center; }
.module-miniprofile .mp-container { border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.05); padding: 10px; text-align: left; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.024); }
.layout-one-column .module-miniprofile .mp-container { width: 50%; margin-left: auto; margin-right: auto; }
.module-miniprofile .mp-counts, .module-miniprofile .mp-connections { margin-top: 10px; }
.module-miniprofile .mp-avatar { display: inline; float: left; width: 50px; }
.module-miniprofile .mp-avatar a { display: block; }
.module-miniprofile .mp-details { margin-left: 60px; }
.module-miniprofile .mp-name { margin-bottom: 5px; font-size: 1.25em; }
.module-miniprofile .mp-following, .module-miniprofile .mp-followers { display: inline; float: left; width: 50%; text-align: center; }
.module-miniprofile .mp-following .mp-inner { padding-right: 5px; }
.module-miniprofile .mp-followers .mp-inner { padding-left: 5px; }
.module-miniprofile .mp-counts a { display: block; padding: 5px; text-decoration: none; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05); border-radius: 5px 5px 5px 5px; }
.module-miniprofile .mp-counts a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); }
.module-miniprofile .mp-counts span { display: block; }
.module-miniprofile .mp-count { font-size: 1.25em; }
.module-miniprofile .mp-connections { height: 20px; overflow: hidden; }
.module-miniprofile .mp-connections span, .module-miniprofile .mp-connections a, .module-miniprofile .mp-connections img { display: block; }
.module-miniprofile .mp-connections span { float: left; margin-right: 2px; }
.reactions .reactions-list { margin: 0px; padding: 0px; list-style: none outside none; }
.reactions .reaction { display: inline; float: left; position: relative; margin: 0px 8px 8px 0px; }
.reactions .reaction-link { display: block; }
.reactions .reaction-avatar { width: 32px; height: 32px; }
.reactions .reaction-badge { display: block; position: absolute; right: -4px; bottom: -4px; width: 16px; height: 16px; }
.reactions .reaction-favorite .reaction-badge { background-image: url('badge-favorite.png'); }
.reactions .reaction-reblog .reaction-badge { background-image: url('badge-reblog.png'); }
.comments-open { margin-bottom: 25px; }
.comment-form .grayText { color: rgb(153, 153, 153); }
.comment-form .comments-open-subtext { margin: 2px 0px 20px; font-size: 11px; }
.comment-form .errorBG { background-color: rgb(255, 235, 227); }
.comment-form .comment-error, .comment-form .comment-error, .comment-form .comment-error { margin: 2px 0px 16px 3px; font-size: 0.9em; }
.comment-form .active-error { display: block; }
.comments-open .login-list { display: inline; float: left; padding-left: 0px; }
.comments-open .login-list span { margin-left: 4px; padding-bottom: 5px; }
.comments-open .login-list .first { margin-left: 0px; padding-left: 0px; }
.comments-open .login-list .typepad { background: url('typepad.png') no-repeat scroll left top transparent; padding-left: 20px; }
.comments-open .login-list .facebook { background: url('facebook.png') no-repeat scroll left top transparent; padding-left: 19px; }
.comments-open .login-list .googleplus { background: url('googleplus.png') no-repeat scroll left top transparent; padding-left: 19px; }
.comments-open .login-list .mixi { background: url('mixi.png') no-repeat scroll left top transparent; margin-left: 2px; padding-left: 19px; }
.comments-open .login-list .twitter { background: url('twitter.png') no-repeat scroll left top transparent; margin-left: 2px; padding-left: 18px; }
.comments-open .share-comment { margin-bottom: 20px; }
.comments-open .share-comment .field-header { margin-bottom: 4px; font-size: 1.1em; font-weight: bold; }
.comments-open .share-comment .field-notice { margin: 5px 0px 4px; font-size: 0.9em; }
.comments-open #comments-open-login, .comments-open #comments-open-logout { margin-bottom: 10px; }
.yellowBox, .yellowGreenBox, .redBox { background: url('atpcomment-gradient.png') repeat-x scroll left top rgb(255, 255, 230); border: 1px solid; margin: 10px 0px 50px; padding: 8px; color: rgb(0, 0, 0); }
.lessBoxMargin { margin: 20px 0px 25px; }
.commentCompleteMargin { margin: 25px 0px 20px; }
.yellowBox p, .yellowGreenBox p, .redBox p { margin-top: 0px; color: rgb(0, 0, 0); }
.hiddenBox { display: none; }
.visibilityHiddenBox { visibility: hidden; }
.comments-open label.hiddenBox { display: none; }
.yellowBox { border: 1px solid rgb(255, 187, 51); }
.yellowGreenBox { border: 1px solid rgb(102, 153, 0); }
.redBox { border: 1px solid rgb(204, 34, 0); }
.captchaErrorText { background: url('atpcomment-error-icon.png') no-repeat scroll left top transparent; padding-left: 20px; font-weight: bold; }
.comment-inline-edit, .comment-inline-edit textarea, .comment-inline-preview, .comment-inline-preview p { margin-bottom: 8px; }
.comment-inline-preview-buttons { margin-top: 8px; }
.comment-preview { margin-top: 20px; }
.comment-preview-content { float: left; clear: right; margin-top: 8px; }
.comment-form .comments-open-footer { width: 300px; }
.comment-form .cancel-edit { padding: 5px 0px; float: right; }
.comment-data .comment-footer { clear: both; margin-bottom: 30px; }
.comment-footer .command-edit-comment, .comment-footer .command-delete-comment { font-weight: bold; }
.comment-footer .comment-footerlinks { float: left; }
.comment-footer .comment-datetime { float: right; clear: right; }
.comment { padding-top: 15px; }
#comment-avatar-flyout { position: absolute; z-index: 1; }
#avatar-flyout-content { width: 300px; background-color: rgb(255, 255, 255); border: 2px solid; padding: 8px; }
#avatar-flyout-img { float: left; margin-right: 4px; }
#avatar-flyout-name { font-weight: bold; font-size: 14px; }
#avatar-flyout-content .profileLink { float: right; font-weight: bold; }
#comment-avatar-flyout .clearBoth { clear: both; }
#avatar-flyout-content #avatar-flyout-location, #avatar-flyout-content .profileWebsite { margin: 5px 0px; }
#avatar-flyout-counts .activityTitle { margin: 5px 0px 8px; font-weight: bold; }
#avatar-flyout-counts .subTitle { float: left; width: 100px; }
#avatar-flyout-counts #avatar-flyout-thisblog, #avatar-flyout-counts #avatar-flyout-overall { float: left; }
.pager .pagination-bar a { margin: 2px; border: 1px solid rgb(204, 204, 204); padding: 2px 4px; text-decoration: none; }
.pager .pagination-bar a:hover, .pager .pagination-bar a:active { text-decoration: underline; }
.pager .pagination-bar .this-page { margin: 2px; padding: 1px 4px; }
.pager .pager-status { margin: 2px; padding: 1px 4px; font-size: 0.8em; }
.footer-list { margin: 0px; padding: 0px; list-style: none outside none; }
.footer-list-item { display: block; float: left; }
.footer-list-item a { display: block; padding: 5px 10px; }
.entry .entry-content .asset-image-multiple ul { margin: 0px; padding: 0px; }
.entry .entry-content .asset-image-multiple .asset-thumbnails { margin: 0px; padding: 0px; text-indent: 0px; }
.entry .entry-content .asset-image-multiple .asset-thumbnails img { height: 40px; padding: 2px; }
.entry .entry-content .asset-image-multiple .asset-thumbnails li { list-style: none outside none; margin: 0px; padding: 2px 2px 0px 0px; text-indent: 0px; display: inline; }
.entry .entry-content .asset-image-multiple .asset-thumbnails li.on img { border: 2px solid rgb(136, 0, 0); padding: 0px; }
.entry-content ul { list-style: disc outside none; }
.entry-content ol { list-style-type: decimal; list-style-position: outside; }
.entry-content ol ol { list-style-type: lower-alpha; }
.entry-content li { margin: 5px 10px; }
.search-subheader { margin-bottom: 15px; }
.search-subheader .col { float: left; width: 50%; }
.search-subheader .search-feed-subscribe { float: right; text-align: right; }
.search-subheader .search-feed-subscribe a { padding: 4px 0px 2px 22px; background: url('feed-icon-16x16.png') no-repeat scroll 0px 4px transparent; }
.search-results .search-results-highlight { background: none repeat scroll 0% 0% rgb(255, 255, 153); }
.search-results .entry-photo img { float: right; width: 75px; margin-left: 10px; margin-bottom: 10px; }
.search-results .comment .comment-content-border { border: 1px solid rgb(221, 221, 221); padding: 9px; border-radius: 5px 5px 5px 5px; }
.search-results .comment .comment-footer { border: medium none; }
.vox-enclosure-inner { border: 1px solid rgb(153, 153, 153); padding: 9px; text-align: center; overflow: hidden; }
.vox-embed-enclosure .vox-enclosure-inner { border: 0px none; }
.vox-enclosure-extra-large .vox-enclosure-inner { width: 500px; }
.vox-enclosure-large .vox-enclosure-inner { width: 320px; }
.vox-enclosure-medium .vox-enclosure-inner { width: 200px; }
.vox-enclosure-small .vox-enclosure-inner { width: 120px; }
.vox-enclosure-strip-vertical .vox-enclosure-inner { width: 130px; }
.vox-enclosure-strip .vox-enclosure-inner, .vox-enclosure-strip .vox-enclosure-inner a img { margin: 5px; }
.vox-enclosure-left { float: left; margin-right: 20px; }
.vox-enclosure-right { float: right; margin-left: 20px; }
.vox-enclosure-center { clear: both; }
.vox-enclosure-center .vox-enclosure-inner { margin-left: auto; margin-right: auto; }
.vox-enclosure-list .vox-enclosure-item { margin-bottom: 10px; }
.vox-enclosure-list .vox-last { margin-bottom: 0px; }
.vox-enclosure-asset-name { margin-top: 0.5em; margin-bottom: 0px; padding-bottom: 0px; overflow: hidden; font-size: 12px; }
.vox-enclosure-meta { font-size: 10px; }
.vox-enclosure-meta .link-subtitle { font-size: 11px; }
.vox-enclosure-comments a { display: inline-block; padding-left: 15px; background-image: url('icon-comment.gif'); background-position: left center; background-repeat: no-repeat; margin-top: 10px; }
.vox-enclosure-embed-source { overflow: hidden; padding: 10px; background: none repeat scroll 0% 0% rgb(238, 238, 238); font: 10px courier new,courier,monaco,fixed-width; text-align: left; }
.vox-enclosure-embed { overflow: hidden; }
.vox-link-enclosure .enclosure-inner { text-align: left; }
.vox-link-enclosure .enclosure-image { float: left; margin: 0px 5px 5px 0px; }
.vox-asset-body .vox-enclosure ul li { list-style-image: none; }
.vox-asset-overlay { background: url('icon-play.gif') no-repeat scroll 4px 4px transparent; z-index: 50; display: block; position: absolute; width: 23px; height: 22px; }
.vox-collection-asset .vox-asset-overlay { background-image: url('icon-collection-overlay.gif'); }
div.photo-wrap {  }
.photo-full { width: 100%; }
.photo-full { -moz-box-sizing: border-box; }
div.photo-caption { font-family: inherit; font-size: 93%; font-style: italic; line-height: 1.4em; padding: 10px 0px; }
#display-pinterest1, #display-pinterest2, #display-pinterest3 { line-height: 0; -moz-column-gap: 0px; margin-bottom: 10px; }
#display-pinterest1 img, #display-pinterest2 img, #display-pinterest3 img { width: 100% ! important; height: auto ! important; }
.ppo { overflow: hidden; display: inline-block; border: 1px solid transparent ! important; }
.module-pinterest img:hover { opacity: 0.7; }
.pinterest-badge { margin: 15px auto 20px 5px; }
.pinterest-user-title { text-align: left; clear: both; margin: 10px auto 5px; }
.pinterest-user-title a { color: rgb(68, 68, 68); padding: 0px 0px 5px 18px; background: url('pinterest.png') no-repeat scroll 0px 0px transparent; }

/* ::::: http://static.typepad.com/.shared:vb207d12:typepad:en_us/themes/common/tipjar.css ::::: */

.module-tipjar, .module-tipjar-r2 { font-family: 'trebuchet ms',sans-serif; }
.module-tipjar .button { margin: 0px; }
.module-tipjar-r2 .tipjar-button-wrapper { position: relative; }
.module-tipjar-r2 .tipjar-button { position: relative; float: left; text-align: left; }
.module-tipjar .button h3, .module-tipjar .button p, .module-tipjar-r2 .tipjar-button h3, .module-tipjar-r2 .tipjar-button p { margin: 0px; padding: 0px; color: rgb(0, 0, 0); line-height: 1.2em; }
.module-tipjar .button img, .module-tipjar-r2 .tipjar-button img { position: absolute; top: 0px; left: 0px; border: 0px none; }
.module-tipjar .module-content { position: relative; margin: 10px; padding: 0px; }
.module-tipjar p { margin-left: 10px; }
.module-tipjar-r2 p { margin: 2px 0px 0px; }
.module-tipjar #button-1, .module-tipjar-r2 #button-1 { background: url('tipjar-green-large.gif') no-repeat scroll left top transparent; }
.module-tipjar #button-2, .module-tipjar-r2 #button-2 { background: url('tipjar-pink-large.gif') no-repeat scroll left top transparent; }
.module-tipjar #button-3, .module-tipjar-r2 #button-3 { background: url('tipjar-green-medium.gif') no-repeat scroll left top transparent; }
.module-tipjar #button-4, .module-tipjar-r2 #button-4 { background: url('tipjar-pink-medium.gif') no-repeat scroll left top transparent; }
.module-tipjar #button-5, .module-tipjar-r2 #button-5 { background: url('tipjar-green-small.gif') no-repeat scroll left top transparent; }
.module-tipjar #button-6, .module-tipjar-r2 #button-6 { background: url('tipjar-pink-small.gif') no-repeat scroll left top transparent; }
.module-tipjar .empty-1, .module-tipjar .empty-2, .module-tipjar-r2 #button-1, .module-tipjar-r2 #button-2, .module-tipjar-r2 .empty-1, .module-tipjar-r2 .empty-2 { width: 120px; height: 52px; }
.module-tipjar #button-1 h3, .module-tipjar #button-2 h3, .module-tipjar-r2 #button-1 h3, .module-tipjar-r2 #button-2 h3 { font-size: 15px; font-weight: bold; padding: 4px 0px 0px 28px; }
.module-tipjar #button-1 p, .module-tipjar #button-2 p, .module-tipjar-r2 #button-1 p, .module-tipjar-r2 #button-2 p { font-size: 11px; }
.module-tipjar #button-1 p, .module-tipjar #button-2 p { padding: 0px 0px 24px 28px; }
.module-tipjar-r2 #button-1 p, .module-tipjar-r2 #button-2 p { padding: 0px 0px 0px 28px; }
.module-tipjar .empty-3, .module-tipjar .empty-4, .module-tipjar-r2 #button-3, .module-tipjar-r2 #button-4, .module-tipjar-r2 .empty-3, .module-tipjar-r2 .empty-4 { width: 88px; height: 31px; }
.module-tipjar #button-3 h3, .module-tipjar #button-4 h3, .module-tipjar-r2 #button-3 h3, .module-tipjar-r2 #button-4 h3 { font-size: 13px; font-weight: bold; padding: 0px 0px 0px 5px; }
.module-tipjar #button-3 p, .module-tipjar #button-4 p, .module-tipjar-r2 #button-3 p, .module-tipjar-r2 #button-4 p { font-size: 11px; }
.module-tipjar #button-3 p, .module-tipjar #button-4 p { padding: 0px 0px 4px 5px; }
.module-tipjar-r2 #button-3 p, .module-tipjar-r2 #button-4 p { padding: 0px 0px 0px 5px; }
.module-tipjar #button-5, .module-tipjar #button-6, .module-tipjar .empty-5, .module-tipjar .empty-6, .module-tipjar-r2 #button-5, .module-tipjar-r2 #button-6, .module-tipjar-r2 .empty-5, .module-tipjar-r2 .empty-6 { width: 94px; height: 15px; }
.module-tipjar #button-5 h3, .module-tipjar #button-6 h3, .module-tipjar #button-5 p, .module-tipjar #button-6 p, .module-tipjar-r2 #button-5 h3, .module-tipjar-r2 #button-6 h3, .module-tipjar-r2 #button-5 p, .module-tipjar-r2 #button-6 p { display: none; }

/* ::::: http://dukeupress.typepad.com/dukeupresslog/styles.css?v=6 ::::: */

a { text-decoration: underline; }
a:link { color: rgb(96, 131, 172); }
a:visited { color: rgb(96, 131, 172); }
a:hover { color: rgb(96, 131, 172); }
a:active { color: rgb(96, 131, 172); }
body { margin: 0px; color: rgb(115, 113, 106); background: none repeat scroll 0% 0% rgb(222, 219, 209); font-family: 'Trebuchet MS',Verdana,sans-serif; font-weight: normal; font-size: small; line-height: 150%; }
#container { position: static; }
#container-inner { position: static; border: 0px none; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
#banner { border: 0px none; height: 1%; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(222, 219, 209); text-align: center; font-family: 'Trebuchet MS',Verdana,sans-serif; }
#banner-inner { padding: 15px; }
#banner a { color: rgb(255, 255, 255); text-decoration: none; }
#banner-header { margin: 0.25em 0px; font-size: xx-large; }
#banner-description { margin: 0.25em 0px; font-size: small; }
#banner { height: 147px; background-image: url('6a00e3981f12068833014e88846fa3970d-pi'); background-position: 15px 15px; background-repeat: no-repeat; text-align: left; }
#banner-inner { overflow: visible; padding: 0px; }
#banner-header { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; }
#banner-header a { display: block; left: 0px; top: 0px; height: 147px; text-indent: -1000em; }
#banner-description { overflow: hidden; width: 0px; height: 0px; margin: 0px; padding: 0px; text-indent: -1000em; }
#container { width: 780px; }
.layout-artistic #alpha, .layout-calendar #alpha { width: 315px; }
.layout-artistic #alpha-inner, .layout-calendar #alpha-inner, .layout-timeline #alpha-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-artistic #beta, .layout-calendar #beta { width: 465px; }
.layout-artistic #beta-inner, .layout-calendar #beta-inner, .layout-timeline #beta-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
#beta #gamma, #beta #delta { width: 210px; margin: 15px 0px; }
#beta #gamma-inner, #beta #delta-inner { padding: 0px; }
.content-nav { margin-top: 0px; }
.date-header, .trackbacks-header, .comments-header, .comments-open-header, .archive-header { margin: 0px 0px 10px; border-bottom: 1px solid rgb(182, 179, 169); padding: 3px; color: rgb(115, 113, 106); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: small; text-align: left; }
.entry-header { margin: 1px 0px 10px; border: 0px none; color: rgb(197, 120, 11); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: medium; line-height: normal; text-align: left; font-weight: bold; }
.entry-header a { text-decoration: none; font-weight: bold; }
.entry-header a:link { color: rgb(197, 120, 11); }
.entry-header a:visited { color: rgb(197, 120, 11); }
.entry-header a:hover { color: rgb(197, 120, 11); }
.entry-header a:active { color: rgb(197, 120, 11); }
.entry-content, .entry-footer, .trackbacks-info, .trackback-content, .comments-info, .comment-content, .comments-open-content, .comments-open-footer, .comments-closed, .archive-content { margin: 10px 0px; }
.entry-content p { text-align: left; }
.entry-footer, .trackback-footer, .comment-footer { margin: 0px 0px 10px; border-top: 1px dotted rgb(129, 127, 119); padding: 3px; color: rgb(115, 113, 106); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: x-small; line-height: normal; text-align: left; }
#comment-author, #comment-email, #comment-url, #comment-text { width: 80%; }
img.image-full { display: block; width: 100%; -moz-box-sizing: border-box; }
.module a { text-decoration: none; font-weight: inherit; }
.module a:link { color: rgb(115, 113, 106); }
.module a:visited { color: rgb(115, 113, 106); }
.module a:hover { color: rgb(197, 120, 11); }
.module a:active { color: rgb(115, 113, 106); }
.module-header { margin: 5px 0px; border-bottom: 1px solid rgb(156, 153, 143); padding: 3px; color: rgb(117, 115, 108); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: small; line-height: normal; font-weight: bold; letter-spacing: 0.02em; text-align: left; }
.module-content { margin: 5px 0px 20px; color: rgb(115, 113, 106); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: small; line-height: 150%; text-align: left; }
.module-list { margin: 0px; }
.module-list-item { margin: 10px 0px; }
.typelist-thumbnailed .module-list-item { margin: 10px 0px; }
.module img, .module-photo img { border: 1px solid rgb(182, 179, 169); }
.module-photo .module-content { text-align: left; }
.module-powered { text-align: left; }
.module-calendar .module-header { color: rgb(117, 115, 108); font-family: 'Trebuchet MS',Verdana,sans-serif; font-size: small; border-bottom: 1px solid rgb(156, 153, 143); text-align: left; font-weight: bold; padding: 3px; letter-spacing: 0.02em; }
.module-calendar th, .module-calendar td { text-align: center; font-weight: normal; }
.typelist-thumbnail img { margin: 0px; }
.module-featured-photo { margin-bottom: 5px; }
.module-featured-photo .module-content img { width: 420px; }
.module-recent-photos .module-content { padding: 2px 0px 0px; }
.module-recent-photos .module-list { margin: 0px; }
.module-recent-photos .module-list-item { width: 70px; height: 70px; margin: 0px 2px 2px 0px; }
.module-tipjar-r2 .tipjar-button { float: left; }
.module-miniprofile img { border-width: 0px; }
.layout-moblog1 #alpha { width: 200px; }
.layout-moblog1 #alpha-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-moblog1 #beta { width: 380px; }
.layout-moblog1 #beta-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-moblog1 #gamma { width: 200px; }
.layout-moblog1 #gamma-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-moblog2 #alpha { width: 100px; }
.layout-moblog2 #alpha-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-moblog2 #beta { width: 350px; }
.layout-moblog2 #beta-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-moblog2 #gamma { width: 190px; }
.layout-moblog2 #gamma-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-moblog2 #delta { width: 140px; }
.layout-moblog2 #delta-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-moblog2 .module-photo img { width: 100px; height: auto; }
.layout-timeline #alpha { width: 390px; }
.layout-timeline #beta { width: 390px; }
.layout-timeline #beta #gamma { width: 175px; }
.layout-timeline #beta #delta { width: 170px; }
.layout-one-column #container { width: 500px; }
.layout-one-column #alpha { display: block; float: none; width: auto; }
.layout-one-column #alpha-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-two-column-left #container { width: 650px; }
.layout-two-column-left #alpha { width: 150px; }
.layout-two-column-left #alpha-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-two-column-left #beta { width: 500px; }
.layout-two-column-left #beta-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-two-column-right #container { width: 650px; }
.layout-two-column-right #alpha { width: 500px; }
.layout-two-column-right #alpha-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-two-column-right #beta { width: 150px; }
.layout-two-column-right #beta-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-three-column #container { width: 800px; }
.layout-three-column #alpha { width: 150px; }
.layout-three-column #alpha-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-three-column #beta { width: 500px; }
.layout-three-column #beta-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-three-column #gamma { width: 150px; }
.layout-three-column #gamma-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-three-column-right #container { width: 800px; }
.layout-three-column-right #alpha { width: 500px; }
.layout-three-column-right #alpha-inner { border: 1px solid rgb(182, 179, 169); padding: 14px; background: none repeat scroll 0% 0% rgb(240, 239, 235); }
.layout-three-column-right #beta { width: 150px; }
.layout-three-column-right #beta-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
.layout-three-column-right #gamma { width: 150px; }
.layout-three-column-right #gamma-inner { border: 0px none; padding: 15px; background: none repeat scroll 0% 0% rgb(222, 219, 209); }
