
/* ::::: null ::::: */

html { margin: 0px; padding: 0px; font: 11px/18px 'Helvetica Neue',Arial,sans-serif; color: rgb(51, 51, 51); -moz-user-select: none; }
body { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; visibility: hidden; }
a { outline: medium none; text-decoration: none; }
body.ready { visibility: visible; }
body.rtl { direction: rtl; }
#widget { white-space: nowrap; overflow: hidden; text-align: left; }
.rtl #widget { text-align: right; }
.btn-o, .count-o, .btn, .btn .label, #count { display: inline-block; vertical-align: top; }
.right #widget { text-align: right; }
.left #widget { text-align: left; }
.btn-o { max-width: 100%; }
.btn { position: relative; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222)); border: 1px solid rgb(204, 204, 204); border-radius: 3px; color: rgb(51, 51, 51); font-weight: bold; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); cursor: pointer; height: 18px; max-width: 98%; overflow: hidden; }
.btn:focus, .btn:hover, .btn:active { border-color: rgb(187, 187, 187); background-color: rgb(217, 217, 217); background-image: linear-gradient(rgb(248, 248, 248), rgb(217, 217, 217)); box-shadow: none; }
.btn:active { background-color: rgb(239, 239, 239); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) inset; }
.xl .btn:active { box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1) inset; }
.btn i { position: absolute; top: 50%; left: 2px; margin-top: -5px; width: 16px; height: 13px; background: url('t0SnVUZCFLiaYk1empqbCXtgctoUTcO+iQ5eYRUuv0EJCOZhAtVrtaldXl2dkZGTbC5tIuMa+L2z+BexZXK+OBaruAAAAAElFTkS') no-repeat scroll 0px 0px transparent; }
.btn .label { padding: 0px 3px 0px 19px; white-space: nowrap; }
.btn .label b { font-weight: bold; white-space: nowrap; }
.rtl .btn .label { padding: 0px 19px 0px 3px; }
.rtl .btn i { left: auto; right: 2px; }
.rtl .btn .label b { display: inline-block; direction: ltr; }
.xl { font-size: 13px; line-height: 26px; }
.xl .btn { border-radius: 4px; height: 26px; }
.xl .btn i { background-position: -24px 0px; width: 21px; height: 16px; left: 4px; margin-top: -6px; }
.xl .btn .label { padding: 0px 7px 0px 29px; }
.xl .rtl .btn .label { padding: 0px 29px 0px 7px; }
.xl .rtl .btn i { left: auto; right: 6px; }
@media not all, (min-resolution: 144dpi) {
  .btn i { background-image: url('H5BFic8lpAQAAAABJRU5ErkJggg=='); background-size: 45px 40px; margin-top: -6px; }
  .xl .btn i { margin-top: -7px; left: 4px; }
  .xl .rtl .btn i { left: auto; right: 3px; }
  .xl .btn .label { top: -1.5px; }
}
.aria { position: absolute; left: -999em; }
.rtl .aria { left: auto; right: -999em; }
.following .btn { color: rgb(136, 136, 136); background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); }
.following .btn:active, .following .btn:hover { border: 1px solid rgb(187, 187, 187); }
.following .btn i { background-position: 0px -20px; }
.xl .following .btn i { background-position: -25px -25px; }
.btn:focus, .following .btn:focus { border-color: rgb(0, 137, 203); }
.count-o { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-radius: 3px; visibility: hidden; min-height: 18px; min-width: 15px; }
#count { white-space: nowrap; text-align: center; color: rgb(51, 51, 51); }
#count:hover, #count:focus { color: rgb(51, 51, 51); text-decoration: underline; }
.ncount .count-o { display: none; }
.count-ready .count-o { visibility: visible; }
.count-o i, .count-o u { position: absolute; line-height: 0; width: 0px; height: 0px; left: 0px; top: 50%; margin: -4px 0px 0px -4px; border-width: 4px 4px 4px 0px; border-style: solid solid solid none; border-color: transparent rgb(170, 170, 170) transparent -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.count-o u { margin-left: -3px; border-right-color: rgb(255, 255, 255); }
.rtl .count-o i, .rtl .count-o u { left: auto; right: 0px; margin: -4px -4px 0px 0px; border-width: 4px 0px 4px 4px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.rtl .count-o u { margin-right: -3px; border-left-color: rgb(255, 255, 255); }
.following .count-o i { border-right-color: rgb(187, 187, 187); }
.following.rtl .count-o i { border-left-color: rgb(187, 187, 187); }
.following .count-o { background: none repeat scroll 0% 0% rgb(249, 249, 249); border-color: rgb(204, 204, 204); }
.following #count { color: rgb(102, 102, 102); }
.hcount .count-o { margin: 0px 0px 0px 5px; }
.hcount.rtl .count-o { margin: 0px 5px 0px 0px; }
.hcount #count { padding: 0px 3px; }
.xl .count-o { border-radius: 4px; margin: 0px 0px 0px 6px; }
.xl .rtl .count-o { margin: 0px 6px 0px 0px; }
.xl .count-o i, .xl .count-o u { margin: -5px 0px 0px -5px; border-width: 5px 5px 5px 0px; }
.xl .count-o u { margin-left: -4px; }
.xl .rtl .count-o i, .xl .rtl .count-o u { margin: -5px -5px 0px 0px; border-width: 5px 0px 5px 5px; }
.xl .rtl .count-o u { margin-right: -4px; }
.xl #count { padding: 0px 5px; }
.vcount #widget { width: 100%; padding-bottom: 5px; }
.vcount .btn-o { position: absolute; margin-top: 42px; left: 0px; right: 0px; width: 100%; }
.vcount .btn { display: block; margin: 0px auto; }
.vcount .count-o { display: block; padding: 0px 5px; }
.vcount .count-o i, .rtl.vcount .count-o i, .vcount .count-o u, .rtl.vcount .count-o u { line-height: 0; top: auto; left: 50%; bottom: 0px; right: auto; margin: 0px 0px -4px -4px; border-width: 4px 4px 0px; border-style: solid solid none; border-right: 4px solid transparent; border-left: 4px solid transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(170, 170, 170) transparent -moz-use-text-color; }
.rtl.vcount .count-o u, .vcount .count-o u { margin-bottom: -3px; border-top-color: rgb(255, 255, 255); }
.vcount #count { font-size: 16px; width: 100%; height: 34px; line-height: 34px; }
@media (min-width: 0px) {
  .btn, .hcount .count-o { -moz-box-sizing: border-box; height: 20px; max-width: 100%; }
  .xl .btn, .xl .hcount .count-o { height: 28px; }
}
