{% assign online = false %}
{% for url in page.urls %}
{% assign online = true %}
{% endfor %}
{% if online %}
<section class='extra'>
    <h4><span>EXTERNAL LINKS</span></h4>
    <ul> 
        {% for url in page.urls %}
        <li><a href='{{ url['url'] }}' target='blank'>{{ url['display'] | upcase }}</a><br></li>            
        {% endfor %}
    </ul>
</section>
{% endif %}
