<h6>FILED UNDER - {{ page.nav | category_link }}{% if page.category %}/{{ page.category | category_link }}{% endif %}{% if page.sub-category %}/{{ page.sub-category | sub_category_link: page.category }}{% endif %}
    {% assign related = false %}
    {% for tag in page.tags %}
        {% assign related = true %}
    {% endfor %}
    {% if related %}
        <span class='right'>RELATED - {{ page.tags | tag_links }}</span>
    {% endif %}
</h6>
