{% assign formats = false %}
{% for format in page.formats %}
    {% assign formats = true %}
{% endfor %}
{% assign records = false %}
{% for record in page.related_records %}
    {% assign records = true %}
{% endfor %}
{% assign links = false %} 
{% for url in page.urls %}
    {% assign links = true %}
{% endfor %}
<div class='marginal' id='meta-container'>
    {% if page.preview_img %}
    <img class='preview' src='/images/archive/preview/{{ page.preview_img }}'>  
    {% endif %}
        <ul id='extras-anchors'>
        {% if formats %}
            <li><a href='#formats'>ALTERNATE FORMATS</a></li>
        {% endif %}
        {% if records %}
            <li><a href='#records'>RELATED RECORDS</a></li>
        {% endif %}
        {% if links %}
            <li><a href='#links'>EXTERNAL LINKS</a></li>
        {% endif %}
        </ul>
</div>