{% include head.html %}
<body>
    <div id='container'>
        <header>
          <a href='/'><h1>EVE KOSOFSKY SEDGWICK</h1></a>
          <ul id='nav' class="nav">
              <li><a href="/about.html">ABOUT</a></li>
              <li><a href="/biography/biography.html">LIFE</a></li>
              <li><a href="/work/">WORK</a></li>
              <li><a href="/commentary/">COMMENTARY</a></li>
              <li><a href="/foundation/foundation.html">FOUNDATION</a></li>
              <li><a href="/blog/page1">BLOG</a></li>
          </ul>
        </header>
        <div id='wrap'>
          <section id='main'>
            {{ content }}
          </section>
        </div>
        {% include foot.html %}
    </div>
</body>
</html>
