---
layout: base
---

<section id='title' style="margin-bottom:56px;">    
    <h2><a href="/blog/page1">BLOG</a></h2>
    <ul class='nav' id='sub-nav'>
        {% if page.page == 1 %}
        <li><a style="color:#939196;">NEWER POSTS </a></li>
        {% else %}
        <li><a href="/blog/page{{ page.previous }}">NEWER POSTS </a></li>
        {% endif %}
        {% if page.page == page.pages %}
        <li><a style="color:#939196;"> OLDER POSTS</a></li>
        {% else %}
        <li><a href="/blog/page{{ page.next }}"> OLDER POSTS</a></li>
        {% endif %}
    </ul>
</section>
    {% for post in site.blog-pages[page.title] %}
        <section class='preview'>
            <h4><a href="{{ post.url }}">{{ post.title | upcase }}</a></h4>

            <div class='marginal post-meta'>
              <!--{{ post.date | date: "%A, %b %d, %Y" | upcase}}-->
              {{ post.date | date: "%B %d, %Y" | upcase}}
            </div>

            {% assign album_x = forloop.index %}
            {% if post.related-images %}
            {% for image in post.related-images %}
                {% assign count = forloop.length %}
                {% capture carousel_width %}{{ count | carousel_width }}{% endcapture %}
            {% endfor %}
                {% if count > 4 %}<section class='album' style='height:150px; width:622px; overflow:hidden; position:relative;'>
                    <div class='album-nav' id='carousel_left' ><span id="carousel_left_ico"></span></div>
                <div class='aperture'>
                <div class='carousel' style='width:{{ carousel_width }}px;'>
                    {% for image in post.related-images %}
                    <a href="/images/blog/{{ image }}.jpg" title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}" caption="{% if image.caption-title %}<span class='heading'>{{ image.caption-title }} </span>{% endif %}{{ image.caption }}" rel="album_{{ album_x }}">
                        <img class='thumb' src="/images/blog/{{ image }}_thumb.jpg" style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'>
                    </a>
                    {% endfor %}
                </div>
                </div>
                    <div class='album-nav' id='carousel_right' ><span id="carousel_right_ico"></span></div> 
                    </section>
                    {% else %}
                    <div class='carousel no-scroll' style='width:{{ carousel_width }}px;'>
                    {% for image in post.related-images %}
                    <a href="/images/blog/{{ image }}.jpg" title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}" caption="{% if image.caption-title %}<span class='heading'>{{ image.caption-title }} </span>{% endif %}{{ image.caption }}" rel="album_{{ album_x }}">
                        <img class='thumb{{ count }}' src="/images/blog/{{ image }}_thumb.jpg" style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'>
                    </a>
                    {% endfor %}
                    </div>
                    {% endif %}
            {% endif %}
            
            {{ post.content | textilize }}
            
            {% assign related = false %}
            {% for tag in post.tags %}
                {% assign related = true %}
            {% endfor %}
            {% if related %}
                <h6>RELATED - {{ post.tags | tag_links }}</h6>
            {% endif %}
        </section>

    {% endfor %}
    
    <section id='footer' style="margin-bottom:56px;">    
        <h2>&nbsp;</h2>
        <ul class='nav' id='sub-nav'>
            {% if page.page == 1 %}
            <li><a style="color:#939196;">NEWER POSTS </a></li>
            {% else %}
            <li><a href="/blog/page{{ page.previous }}">NEWER POSTS </a></li>
            {% endif %}
            {% if page.page == page.pages %}
            <li><a style="color:#939196;"> OLDER POSTS</a></li>
            {% else %}
            <li><a href="/blog/page{{ page.next }}"> OLDER POSTS</a></li>
            {% endif %}
        </ul>
    </section>