---
layout: base
---
<section id='title' class='under'>
    {% for datum in page.meta %}
        {% case datum["key"] %}
            {% when 'location' %}
                {% assign location = datum["value"] %}
            {% when 'creation-date' %}
                {% assign creation_date = datum['value'] %}
            {% when 'with' %}
                {% assign with = datum['value'] %}
        {% endcase %}
    {% endfor %}

<!--  removes big bold title line
    <h3>{{ page.title | upcase }}<span> {{ location | no_location }}{{ creation_date | no_date }}{{ with | no_with }}</span></h3>
-->

    {% include filing_notes.liquid %}

</section>

{% for media in page.related_media %}
    {% if media['type'] == 'album' %}
        {% include album.liquid album_name=media.name %}
    {% endif %}
{% endfor %}

<section class='content'>

    {% include marginal.liquid %}

    <h5> <h8>{{ page.title | upcase }}{% if page.sub-title %}: {{ page.sub-title | upcase }}{% endif %}</h8> </h5>
    <h6 class='biblio'>{% if page.exhibition-location %}{{ page.exhibition-location | upcase }}, {{ page.exhibition-date }}{% endif %}</h6>

    {{ content }}

</section>

{% include extras.liquid %}
