---
layout: base
---

<section id='title' class='under'>   
    {% for datum in page.meta %}
        {% case datum["key"] %} 
            {% when 'location' %}
                {% assign location = datum["value"] %}
            {% when 'creation-date' %} 
                {% assign creation_date = datum['value'] %}
            {% when 'with' %} 
                {% assign with = datum['value'] %}
        {% endcase %}
    {% endfor %}
    <h3>{{ page.title | upcase }}<span> {{ location | no_location }}{{ creation_date | no_date }}{{ with | no_with }}</span></h3>
    
    <h6>&nbsp;
        {% assign related = false %}
        {% for tag in page.tags %}
            {% assign related = true %}
        {% endfor %}
        {% if related %}
            <span class='right'>RELATED - {{ page.tags | tag_links }}</span>
        {% endif %}
    </h6>
    
</section>

<div class='marginal post-meta'>
  {{ page.date | date: "%B %d, %Y" | upcase}}
</div>

{% if page.related-images %}
{% for image in page.related-images %}
    {% assign count = forloop.length %}
    {% capture carousel_width %}{{ count | carousel_width }}{% endcapture %}
{% endfor %}
    {% if count > 4 %}<section class='album' style='height:150px; width:622px; overflow:hidden; position:relative;'>
        <div class='album-nav' id='carousel_left' ><span id="carousel_left_ico"></span></div>
    <div class='aperture'>
    <div class='carousel' style='width:{{ carousel_width }}px;'>
        {% for image in page.related-images %}
        {% assign image_fname = image | replace: "/src/images/blog", "" | replace: ".jpg", "" %}
        <a href="/images/blog/{{ image_fname }}.jpg" title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}" caption="{% if image.caption-title %}<span class='heading'>{{ image.caption-title }} </span>{% endif %}{{ image.caption }}" rel="album_{{ album_x }}">
            <img class='thumb' src="/images/blog/{{ image_fname }}_thumb.jpg" style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'>
        </a>
        {% endfor %}
    </div>
    </div>
        <div class='album-nav' id='carousel_right' ><span id="carousel_right_ico"></span></div> 
        </section>
        {% else %}
        <div class='carousel no-scroll' style='width:{{ carousel_width }}px;'>
        {% for image in page.related-images %}
        {% assign image_fname = image | replace: "/src/images/blog", "" | replace: ".jpg", "" %}
        <a href="/images/blog/{{ image_fname }}.jpg" title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}" caption="{% if image.caption-title %}<span class='heading'>{{ image.caption-title }} </span>{% endif %}{{ image.caption }}" rel="album_{{ album_x }}">
            <img class='thumb{{ count }}' src="/images/blog/{{ image_fname }}_thumb.jpg" style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'>
        </a>
        {% endfor %}
        </div>
        {% endif %}
{% endif %}

<section class='content'>
    
    {% include marginal.liquid %}
    
    {{ content }}
    
</section>

{% include extras.liquid %}