---
layout: base
---
<!--
The links in this section were restricting us to 1 page per category (without a work-around)
so we eliminated the links. This does not seem to be much of a loss for navigation.
The original of this file is stored in Backups folder with date 2013-06-08.
By H and T 2013-06-08
-->

<section id='title'>
    <h2 style=''>{{ page.nav | upcase }} <span>{{page.category | upcase}}</span></h2>
</section>

{% for media in page.related_media %}
    {% if media['type'] == 'album' %}
        {% include album.liquid album_name=media.name %}
    {% endif %}
{% endfor %}

<section class='content'>

    {% include marginal.liquid %}

    {{ content }}

</section>

{% include extras.liquid %}
