---
layout: base
---
<section id='title'>
    <h2><span>{{ "records tagged" | upcase}}&nbsp;</span>{{ page.tag | category_link}}</h2>
    <ul class='nav'>
    {% for category in site.tags_by_category[page.tag] %}
        <li>{{ category.name | category_link }}</li>
    {% endfor %}
    </ul>
</section>
        {% for category in site.tags_by_category[page.tag] %}
          <div class='marginal toc'>
            {% assign anchor = forloop.index %}
            {% for post in category.posts %}
                {% assign record_count = forloop.length %}
            {% endfor %}
            <a href='#{{anchor}}'><span class='heading'>{{category.name | upcase }}</span> {{ record_count }} Records</a><br>
          </div>
        {% endfor %}
        {% for category in site.tags_by_category[page.tag] %}
          {% assign anchor = forloop.index %}
          <h2 class='subsection'><span><a href="#container" name="{{anchor}}">{{ category.name | upcase }}</a></span></h2>
          <!--
          {% for post in category.posts %}
                      {% assign record_count = forloop.length %}
                  {% endfor %}
                  <div class='marginal record_count'>{{ record_count }} Records</div>-->

          {% for post in category.posts %}
              <div class='marginal' id='meta-container'>
                  {% if post.index_img %}
                  <img class='indexthumb' src='/images/archive/{{ post.index_img }}'>
                  {% endif %}
              </div>
          <section class='index-item'>
              <h4><a href="{{ post.url }}">{{ post.title | upcase }}</a>{% if post.sub-title %}: {{ post.sub-title }}{% endif %}</h4>
              <p>{{ post.description | none }}</p>
              <h6>FILED UNDER - {% if post.nav %}{{ post.nav | category_link }}/{% endif %}{% if post.category %}{% if post.category == 'blog' %}{% else %}{{ post.category | category_link }}{% endif %}{% endif %}{% if post.sub-category %}/{{ post.sub-category | sub_category_link: post.category }}{% endif %}
                  {% assign related = false %}
                  {% for tag in post.tags %}
                      {% assign related = true %}
                  {% endfor %}
                  {% if related %}
                      <span class='right'>RELATED - {{ post.tags | tag_links }}</span>
                  {% endif %}
              </h6>
          </section>
          {% endfor %}
        {% endfor %}
