@import 'variables';

$spacing: (
  0: 0,
  xs: $margin / 4,
  s: $margin / 2,
  m: $margin,
  l: $margin * 2,
  xl: $margin * 4,
  a: auto
);

@function spacing($size: m) {
  @return map-get($spacing, $size);
}

@mixin m($sizename: 'm') {
  margin: spacing($sizename);
}

@mixin p($sizename: 'm') {
  padding: spacing($sizename);
}

@mixin ml($sizename: 'm') {
  margin-left: spacing($sizename);
}

@mixin pl($sizename: 'm') {
  padding-left: spacing($sizename);
}

@mixin mr($sizename: 'm') {
  margin-right: spacing($sizename);
}

@mixin pr($sizename: 'm') {
  padding-right: spacing($sizename);
}

@mixin mt($sizename: 'm') {
  margin-top: spacing($sizename);
}

@mixin pt($sizename: 'm') {
  padding-top: spacing($sizename);
}

@mixin mb($sizename: 'm') {
  margin-bottom: spacing($sizename);
}

@mixin pb($sizename: 'm') {
  padding-bottom: spacing($sizename);
}

@mixin mv($sizename: 'm') {
  margin-top: spacing($sizename);
  margin-bottom: spacing($sizename);
}

@mixin pv($sizename: 'm') {
  padding-top: spacing($sizename);
  padding-bottom: spacing($sizename);
}

@mixin mh($sizename: 'm') {
  margin-left: spacing($sizename);
  margin-right: spacing($sizename);
}

@mixin ph($sizename: 'm') {
  padding-left: spacing($sizename);
  padding-right: spacing($sizename);
}

@mixin small-only {
  @media screen and (max-width: 686px) {
    @content;
  }
}

@mixin medium-only {
  @media screen and (min-width: 686px) and (max-width: 997px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 686px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 998px) {
    @content;
  }
}

@mixin x-large {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin row {
  margin-left: $grid-gutter-width / -2;
  margin-right: $grid-gutter-width / -2;
  overflow: hidden;
  position: relative;
}
.row {
  @include row;
}
@mixin col($n) {
  float: left;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  width: 100%;
  @include medium {
    width: $n * $column;
  }
}
@mixin offset($n) {
  margin-left: $n * $column;
}
@for $i from 1 through 6 {
  .col-#{$i} {
    @include col($i);
  }
  .offset-#{$i} {
    @include offset($i);
  }
}

@mixin proportional($width, $height) {
  $ratio: $height / $width * 100%;
  height: 0;
  padding-bottom: #{$ratio};
  position: relative;
}

@mixin unstyled-list {
  list-style: none;
  margin-left: 0;
  & > li {
    margin-left: 0;
  }
}

@mixin marginal {
  &, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: $black;
  }
  @include medium {
    @include col(2);
    position: absolute;
    left: 0;
    float: left;
    clear: left;
  }
}
