---
layout: base
permalink: /teaching/syllabi/cuny/index.html
browser_title: Teaching - Syllabi - CUNY
type: index
---

<!-- page title -->
<div class="page_title container cc_12 rule_b">
	<h2><a href='/teaching/syllabi/'>Syllabi</a>: CUNY</h2>
</div>
<!-- /page title -->
<!-- Outer Container -->
<div id="center" class="container cc_12;">


	<!-- category -->
	<div class="category container cc_12 bg5">
		<div class="header container cc_12 bg4">
			<div class="right cc_12 text_l bg3" ><h3 class="category">CUNY</h3></div>
		</div>
		<!-- /category_body -->
		<div class="category_body cc_12 left">
			{% for post in site.topics.syllabi %}
				{% if post.topics contains 'cuny' %}
					{% unless post.type == 'index' %}
						
						{% include collection.liquid %}
						
					{% endunless %}
				{% endif %}
			{% endfor %}
		</div>
		<!-- /category_body -->
	</div>
	<!-- /category -->

</div>
<!-- /Outer Container -->