.black_stroke_t { border-top: 1px solid #292627; }
.grey_d_stroke_t { border-top: 1px solid #70686b; }
.grey_l_stroke_t { border-top: 1px solid #cccccc; }
.black_stroke_b { border-bottom: 1px solid #292627; }
.grey_d_stroke_b { border-bottom: 1px solid #70686b; }
.grey_l_stroke_b { border-bottom: 1px solid #cccccc; }
html, body {
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: #292627;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 20px 10px;
  text-align: left;
}
a, img { border: none; }
a img { border: none; }
iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul, ol, dir, menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:link {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #249159;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
a:active {
  color: #17683c;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
a:link.block {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:visited.block {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover.block {
  color: #249159;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover.block h3 {
  color: #ffffff;
  background-color: #249159;
}
a:hover.block div.index_module { border-bottom: 1px solid #249159; }
a:active.block {
  color: #249159;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:active.block h3 {
  color: #ffffff;
  background-color: #17683c;
}
a:active.block div.index_module { border-bottom: 1px solid #17683c; }
a.false {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:link.false {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:visited.false {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:active.false {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover.false {
  color: #292627;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a.h2 {
  color: #70686b;
  margin: 0px 0px 0px 0px;
}
a:link.h2 {
  color: #70686b;
  margin: 0px 0px 0px 0px;
}
a:visited.h2 {
  color: #70686b;
  margin: 0px 0px 0px 0px;
}
a:hover.h2 {
  color: #249159;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:active.h2 {
  color: #17683c;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
img {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.inv {
  display: none;
  visibility: hidden;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
h2 {
  font-size: 18px;
  font-family: arial, helvetica, sans-serif;
  color: #292627;
  line-height: 15px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid #70686b;
}
h3 {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  line-height: 16px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
}
h3.block {
  color: #292627;
  clear: both;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  line-height: 16px;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid #70686b;
}
h4 {
  font-size: 11px;
  font-family: arial, helvetica, sans-serif;
  line-height: 13px;
  font-weight: bold;
  padding: 0px 0px 3px 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
}
h1 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
h2 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
h3 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
h4 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
h5 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
h6 .sub {
  font-weight: normal;
  text-transform: none;
  color: #70686b;
}
p { padding: 0px 0px 10px 0px; }
img {
  margin: 0px;
  padding: 0px;
  width: 564px;
}
.c_1 { width: 36px; }
.c_2 { width: 84px; }
.c_3 { width: 132px; }
.c_4 { width: 180px; }
.c_5 { width: 228px; }
.c_6 { width: 276px; }
.c_7 { width: 324px; }
.c_8 { width: 372px; }
.c_9 { width: 420px; }
.c_10 { width: 468px; }
.c_11 { width: 516px; }
.c_12 { width: 564px; }
.c_13 { width: 612px; }
.c_14 { width: 660px; }
.c_15 { width: 708px; }
.c_16 { width: 756px; }
.c_17 { width: 804px; }
.c_18 { width: 852px; }
.c_19 { width: 900px; }
.header {
  border-top: 4px solid #292627;
  clear: both;
  padding: 18px 0px 36px 0px;
  margin: 0px 0px 12px 0px;
}
.footer {
  border-top: 2px solid #292627;
  clear: both;
  padding: 10px 0px 24px 0px;
  margin-top: 24px;
}
.footer h6 {
  font-size: 11px;
  font-family: arial, helvetica, sans-serif;
  line-height: 16px;
  font-weight: normal;
  padding: 0px 0px 2px 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
}
.column { float: left; }
.left, .center {
  padding: 0px 0px 0px 0px;
  margin: 0px 12px 0px 0px;
}
.right {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.center { min-height: 800px; }
.module, .side_module {
  border-top: 2px solid #292627;
  padding-top: 12px;
}
.content_module {
  border-top: 2px solid #292627;
  padding-top: 12px;
}
.content_module h2 {
  color: #70686b;
  margin: 0px 0px 0px 2px;
}
.index_module {
  margin-top: 4px;
  border-bottom: 1px solid #70686b;
}
.index_module h3 {
  color: #292627;
  line-height: 16px;
  padding: 6px 0px 6px 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
}
.index_module p { margin: 0px; }
.index_module .title { margin-bottom: 6px; }
.index_module .column { border-top: 1px solid #cccccc; }
.index_module .meta {
  color: #70686b;
  line-height: 16px;
  padding: 0px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}
.index_module .content {
  color: #292627;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 12px;
}
.full_width {
  clear: both;
  width: 100%;
  overflow: auto;
}
.full_width .meta {
  width: 82px;
  margin-right: 12px;
  float: left;
}
.full_width .content {
  width: 470px;
  float: right;
}
.full_width div.image_right {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  float: right;
  margin: 14px 0px 6px 12px;
  width: 168px;
}
.full_width div.image_right p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.full_width div.image_right p.caption em {
  font-style: normal;
  font-weight: bold;
}
.full_width div.image_right img { width: 168px; }
.full_width div.image_left {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  float: left;
  margin: 14px 12px 6px 0px;
  width: 168px;
}
.full_width div.image_left p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.full_width div.image_left p.caption em {
  font-style: normal;
  font-weight: bold;
}
.full_width div.image_left img { width: 168px; }
.full_width div.image_center {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  margin: 0px auto;
  width: 561.6px;
}
.full_width div.image_center p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.full_width div.image_center p.caption em {
  font-style: normal;
  font-weight: bold;
}
.full_width div.image_center img { width: 561.6px; }
.half_width {
  clear: both;
  width: 276px;
  overflow: hidden;
  height: 165px;
}
.half_width .meta {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.half_width .meta img {
  width: 100%;
  padding-left: 2px;
}
.half_width .content {
  width: 180px;
  float: right;
}
.album {
  width: 180px;
  overflow: hidden;
  float: left;
  margin-right: 12px;
}
.album img {
  width: 84px;
  float: left;
  padding-bottom: 8px;
}
.album img.thumb_r { margin-right: 0px; }
.album img.thumb_l { margin-right: 12px; }
.album p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.album p.caption em {
  font-style: normal;
  font-weight: bold;
}
.meta_title {
  display: block;
  margin-top: 12px;
  color: #292627;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
}
.post_tag {
  width: 100%;
  display: block;
  clear: both;
  margin-top: 12px;
  color: #70686b;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
}
.index_right { float: right; }
.document .toc {
  padding-top: 0px;
  margin-top: 2px;
}
.document .toc h3 { padding: 8px 0px 0px 0px; }
.document .toc ul {
  border-top: 1px solid #70686b;
  margin: 2px 0px;
  font-size: 11px;
  line-height: 16px;
  padding: 4px 0px;
  border-top: 1px solid #cccccc;
}
.document .toc a {
  display: block;
  padding: 2px 4px 0px 4px;
}
.document .toc a:hover {
  color: #ffffff;
  background-color: #249159;
  text-decoration: none;
}
.document .toc a:active {
  color: #ffffff;
  background-color: #17683c;
  text-decoration: none;
}
.document .body {
  border-top: 1px solid #70686b;
  margin: 0px 5px 0px 0px;
  padding: 8px 0px 0px;
}
.document h3 {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
}
.document h3 a {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
}
.document h3 a:link {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
}
.document h3 a:visited {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
}
.document h3 a:active {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
}
.document h3 a:hover {
  color: #70686b;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 0px 0px 0px;
  margin: 0px;
  text-decoration: none;
}
.document p {
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.document h3.block {
  color: #292627;
  padding: 20px 0px 8px;
}
.document div.image_right {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  float: right;
  margin: 14px 0px 6px 12px;
  width: 168px;
}
.document div.image_right p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.document div.image_right p.caption em {
  font-style: normal;
  font-weight: bold;
}
.document div.image_right img { width: 168px; }
.document div.image_left {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  float: left;
  margin: 14px 12px 6px 0px;
  width: 168px;
}
.document div.image_left p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.document div.image_left p.caption em {
  font-style: normal;
  font-weight: bold;
}
.document div.image_left img { width: 168px; }
.document div.image_center {
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
  margin: 0px auto;
  width: 561.6px;
}
.document div.image_center p.caption {
  border-top: 1px solid #cccccc;
  font-size: 11px;
  line-height: 14px;
  color: #70686b;
  padding-bottom: 4px;
  padding-top: 4px;
}
.document div.image_center p.caption em {
  font-style: normal;
  font-weight: bold;
}
.document div.image_center img { width: 561.6px; }
#navigation .rule {
  height: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
#navigation a {
  color: #292627;
  display: block;
  padding: 2px 0px 2px 3px;
  font-size: 12px;
  line-height: 16px;
}
#navigation a:link {
  color: #70686b;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:visited {
  color: #70686b;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:hover {
  color: #249159;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a:active {
  color: #17683c;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a.menu {
  font-weight: bold;
  text-transform: uppercase;
}
#navigation a:link.menu { color: #292627; }
#navigation a:visited.menu { color: #292627; }
#navigation a:hover.menu {
  color: #249159;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:active.menu {
  color: #17683c;
  text-decoration: none;
  background-color: transparent;
}
#navigation a.nonlinking {
  font-weight: bold;
  text-transform: uppercase;
}
#navigation a:link.nonlinking { color: #292627; }
#navigation a:visited.nonlinking { color: #292627; }
#navigation a:active.nonlinking {
  color: #292627;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:hover.nonlinking {
  color: #292627;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:link.current {
  color: #292627;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a:visited.current {
  color: #292627;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a.sub {
  color: #292627;
  display: block;
  margin-left: 10px;
  font-size: 11px;
  line-height: 16px;
}
#navigation li.leaf { margin-left: 8px; }
#navigation ul.sub_menu a:link.current {
  color: #292627;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation ul.sub_menu a:visited.current {
  color: #292627;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
img.index {
  width: 84px;
  height: 116px;
  float: left;
  padding-bottom: 6px;
  margin-left: 3px;
  margin-top: 4px;
  border-top: 1px solid #70686b;
  border-bottom: 1px solid #70686b;
}
img.index_margin { margin-right: 8px; }
.popup_box {
  background-color: #cccccc;
  width: 200px;
  border: 2px solid #999999;
  padding: 18px;
}
.popup_box p {
  font-size: 11px;
  line-height: 14px;
}
.popup_link {
  color: #292627;
  font-weight: bold;
  cursor: pointer;
}