a, img { 
  border: none; 
}
a img { 
  border: none; 
}
img {
  margin: 0px;
  padding: 0px;
}
iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul, ol, dir, menu {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
ol {
  padding:0px 0px 0px 20px;
}
em {
  font-style: normal;
  font-weight: normal;
}
.cc_18 { width: 852px; }
.cc_16 { width: 756px; }
.cc_14 { width: 660px; }
.cc_12 { width: 564px; }
.cc_11 { width: 504px; }
.cc_10 { width: 468px; }
.cc_09 { width: 420px; }
.cc_08 { width: 372px; }
.cc_06 { width: 276px; }
.cc_04 { width: 180px; }
.cc_03 { width: 132px; }
.cc_02 { width: 84px; }
.cc_01 { width: 36px; }

.bg1 { background-color: #8cb75d; }
.bg2 { background-color: #a9c38d; }
.bg3 { background-color: #bddf98; }
.bg4 { background-color: #e3f9ca; }
.bg5 { background-color: #eff9e4; }

body {
  min-width: 896px;
  margin:0px;
  padding: 0px;
  color: #3E403F;
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
  background-color:#fff;
}

#page_header { border-top: 4px solid #292627; }
article, aside, footer, header, hgroup, nav, section {

}
#container {
  float: left;
  width: 1267px;
}
header {
  /*border-top:14px solid #292627;*/
  margin-bottom:80px;
  padding:0px 0px 120px;
}
.left, .content, .right {
  min-height:20px;
}
.left {
  float: left;
  width: 200px;
}
.content {
  float: left;
  width: 700px;
  padding:0px 200px 0px 120px;
}
.right {
  float: right;
  width:172px;
}
section.meta {
  border-top: 1px solid white;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
 /* border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;*/
  background-color:#E0E0E0;
  margin:0px 0px 12px;
  padding: 6px 12px ;
  font-family: arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:14px;
  color:#70686b;
}
section.item {
/*
  border-top: 1px solid #999;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;*/

  border-bottom: 1px solid #8C959D;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;

  padding: 0px 12px 4px;
  /*
  border-top:6px solid #3E403F;
    border-bottom:6px solid #3E403F;*/
  
  font-family: arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:14px;
  color:#70686b;
  background-color:#C5D2DD;
}
nav {
  
  border-top: 1px solid #999;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;

/*
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  */
  height:16px;
  margin: 0px 0px 0px;
  padding: 8px 0px;
  background-color:#d3d3d3;
}
nav ul, nav li {
  display:inline;
  float:right;
}
nav li {
  width:80px;
  padding:0px 12px;
/*  text-shadow: white 1px 1px 0px;*/
}
nav li ul {
  padding:0px;
  font-weight:normal;
/*  text-shadow: white 1px 1px 0px;*/
}
.sub-nav {
  font-family: arial, Helvetica, sans-serif;

  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
/*

  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  */
  
  margin: 0px 0px 36px;
  padding: 8px 0px;
  font-size: 11px;
  line-height: 24px;
  text-transform: none;
  font-weight:100;
  background-color:transparent;
  color: #3E403F;
}
.sub-nav ul, .sub-nav li {
  float:left;
 /* display:inline;
  float:right;*/
}
.sub-nav li {
  padding:0px 12px;
/*  text-shadow: white 1px 1px 0px;*/
}
h1 ,h2{
  font-family: arial, Helvetica, sans-serif;
}
h1 {
  margin: 0px;
  padding: 0px 12px;
  font-size: 18px;
  line-height: 36px;
  text-transform: none;
  font-weight:100;
  color: #3E403F;
}
h1 span {
  font-weight:100;
}
h2 {
  margin: 0px;
  padding: 14px 0px 6px;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  color: #3E403F;
  font-weight:600;
}
h2 span {
  font-weight:100;
}
h3 {
  margin: 2px 0px;
  padding: 0px;
  font-size: 11px;
  line-height: 18px;
  text-transform: none;
  font-weight:100;
  color: #70686B;
}
h3 span {
  font-weight:600;
  float:left;
  width:145px;
/*
  text-align:right;;
  padding-right:12px;
*/
  
}
h4 {
  margin:0px;
  font-family: arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-transform: none;
  font-weight:600;
  color: #3E403F;
  text-transform: none;
}
h4.leading {
  margin: 0px;
  padding: 0px 0px 8px 2px;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
}
h5 {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
h5.normal {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
h6 {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
}
p { margin: 0px 0px 8px 0px; }
a {
  color: #70686b;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:link {
  color: #3E403F;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #70686b;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #70686b;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: #f0afe1;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
a.block {
  color: #3E403F;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:link.block {
  color: #3E403F;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:visited.block {
  color: #3E403F;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}
a:hover.block {
  color: white;
  background-color: #cccccc;
  font-weight: bold;
  text-decoration: none;
}
a:hover.block h3 {
  color: white;
  background-color: #cccccc;
  font-weight: bold;
  text-decoration: none;
}
a:active.block {
  color: #f0afe1;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
.image_container_left {
  float: left;
  width: 132px;
  margin: 5px 12px 0px 2px;
}
.image_container_right {
  float: right;
  width: 132px;
  margin: 5px 0px 0px 12px;
}
.image_container_center {
  width: 276px;
  text-align: center;
  margin: 0px auto 12px;
}
.image_container_meta {
  height: 121px;
  width: 84px;
  margin: opx 0px 0px opx;
}
.caption {
  font-size: 11px;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 0px 2px;
}
p.caption { padding: 0px 2px 0px 0px; }
.caption em a:link{
  font-weight: normal;
  text-decoration: none;
}
.meta .caption a:link {
  font-size: 10px;
  font-weight:normal;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 0px 2px;
}
.meta p.caption { padding: 0px 0px 0px 2px; }
.meta .caption em {
  font-weight: bold;
  text-decoration: none;
}
#navigation { padding: 6px 0px 12px; }
#navigation .rule {
  height: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
#navigation a {
  color: #3E403F;
  display: block;
  padding: 2px 0px 2px 3px;
  font-size: 12px;
  line-height: 16px;
}
#navigation a:link {
  color: #70686b;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:visited {
  color: #70686b;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:hover {
  color: #249159;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a:active {
  color: #17683c;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a.menu {
  font-weight: bold;
  text-transform: uppercase;
}
#navigation a:link.menu { color: #3E403F; }
#navigation a:visited.menu { color: #3E403F; }
#navigation a:hover.menu {
  color: #249159;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:active.menu {
  color: #17683c;
  text-decoration: none;
  background-color: transparent;
}
#navigation a.nonlinking {
  font-weight: bold;
  text-transform: uppercase;
}
#navigation a:link.nonlinking { color: #3E403F; }
#navigation a:visited.nonlinking { color: #3E403F; }
#navigation a:active.nonlinking {
  color: #3E403F;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:hover.nonlinking {
  color: #3E403F;
  text-decoration: none;
  background-color: transparent;
}
#navigation a:link.current {
  color: #3E403F;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}
#navigation a:visited.current {
  color: #3E403F;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
#navigation a.sub {
  color: #3E403F;
  display: block;
  margin-left: 10px;
  font-size: 11px;
  line-height: 16px;
}
#navigation li.leaf { margin-left: 8px; }
#navigation ul.sub_menu a:link.current {
  color: #3E403F;
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
}
#navigation ul.sub_menu a:visited.current {
  color: #3E403F;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
}
h3.category {
  margin: 0px 0px 0px 0px;
  color:#fff;
  background-color: #cccccc;
  border-top: 1px solid #292627;
}
.post {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #292627;
}
.header { border-bottom: 1px solid #999999; }
.post .body .left_column p.post_date {
  color: #70686b;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.collection {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #292627;
}
.header { border-bottom: 1px solid #999999; }
.collection .body .left_column p.post_date {
  color: #70686b;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.thumb {
  height: 116px;
  width: 84px;
  border:1px solid #292627;
}
.album {
  clear: none;
  margin: 0px 12px 0px 0px;
  border-top: 1px solid #292627;
}
.album .header {
  border-bottom: 1px solid #999999;
  margin: 0px 0px 8px 0px;
}
.album .footer { border-bottom: 1px solid #292627; }
.album .body { margin: 0px 0px 10px 0px; }
.album .body .thumb {
  height: 116px;
  width: 84px;
  background-color: #3E403F;
}
.document {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #292627;
}
.document .header { border-bottom: 1px solid #999999; }
.document .body p { padding: 0px 0px 0px 2px; }

.document .body .toc h5 {
  color:black;
}
.document .body .footnote p {
  margin: 0px 0px 4px 2px;
}
.document .body .toc p {
  margin: 0px 0px 4px 2px;
  font-weight:bold;
}
.document .body .toc ul{
  padding-left:12px;
}
.document .body .toc table { padding: 6px 0px; }
.document .body .toc .toc_left {
  float: left;
  text-align: left;
}
.document .body .toc .gutter { width: 12px; }
.document .body .toc a.toc_item {
  border: none;
  text-align: right;
  display: block;
  padding: 0px 2px 0px 2px;
}
.footer .column { padding-top: 6px; }
.nm { margin: 0px; }
.pullup { margin-top:-12px;}
.text_r { text-align: right; }
.text_l { text-align: left; }
.text_c { text-align: center; }
.st_p { padding-left:12px; }
.rule_t { border-top: 1px solid #999999; }
.rule_b { border-bottom: 1px solid #292627; }
.bg1, .bg2, .bg3, .bg4, .bg5 { background-color: transparent; }