
/* ::::: null ::::: */

body.plugin { background: none repeat scroll 0% 0% transparent; overflow: hidden; -moz-text-size-adjust: none; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); line-height: 1.28; margin: 0px; padding: 0px; text-align: left; direction: ltr; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; }
h1, h2, h3, h4, h5, h6 { font-size: 13px; color: rgb(51, 51, 51); margin: 0px; padding: 0px; }
h1 { font-size: 14px; }
h4, h5, h6 { font-size: 11px; }
p { margin: 1em 0px; }
a { color: rgb(59, 89, 152); cursor: pointer; text-decoration: none; }
button { margin: 0px; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
td, td.label { text-align: left; }
dd { color: rgb(0, 0, 0); }
dt { color: rgb(119, 119, 119); }
ul { list-style-type: none; margin: 0px; padding: 0px; }
abbr { border-bottom: medium none; }
hr { background: none repeat scroll 0% 0% rgb(217, 217, 217); border-width: 0px; color: rgb(217, 217, 217); height: 1px; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
.datawrap { word-wrap: break-word; }
.word_break { display: inline-block; }
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.aero { opacity: 0.5; }
.column { float: left; }
.center { margin-left: auto; margin-right: auto; }
#facebook .hidden_elem { display: none ! important; }
#facebook .invisible_elem { visibility: hidden; }
#facebook .accessible_elem { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; width: 1px; }
.direction_ltr { direction: ltr; }
.direction_rtl { direction: rtl; }
.text_align_ltr { text-align: left; }
.text_align_rtl { text-align: right; }
.pluginFontArial, .pluginFontArial button, .pluginFontArial input, .pluginFontArial label, .pluginFontArial select, .pluginFontArial td, .pluginFontArial textarea { font-family: "arial",sans-serif; }
.pluginFontLucida, .pluginFontLucida button, .pluginFontLucida input, .pluginFontLucida label, .pluginFontLucida select, .pluginFontLucida td, .pluginFontLucida textarea { font-family: "lucida grande",sans-serif; }
.pluginFontSegoe, .pluginFontSegoe button, .pluginFontSegoe input, .pluginFontSegoe label, .pluginFontSegoe select, .pluginFontSegoe td, .pluginFontSegoe textarea { font-family: "segoe ui",sans-serif; }
.pluginFontTahoma, .pluginFontTahoma button, .pluginFontTahoma input, .pluginFontTahoma label, .pluginFontTahoma select, .pluginFontTahoma td, .pluginFontTahoma textarea { font-family: "tahoma",sans-serif; }
.pluginFontTrebuchet, .pluginFontTrebuchet button, .pluginFontTrebuchet input, .pluginFontTrebuchet label, .pluginFontTrebuchet select, .pluginFontTrebuchet td, .pluginFontTrebuchet textarea { font-family: "trebuchet ms",sans-serif; }
.pluginFontVerdana, .pluginFontVerdana button, .pluginFontVerdana input, .pluginFontVerdana label, .pluginFontVerdana select, .pluginFontVerdana td, .pluginFontVerdana textarea { font-family: "verdana",sans-serif; }
.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea { font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; }
._51mz { border: 0px none; border-collapse: collapse; border-spacing: 0px; }
._5f0n { table-layout: fixed; width: 100%; }
.uiGrid .vTop { vertical-align: top; }
.uiGrid .vMid { vertical-align: middle; }
.uiGrid .vBot { vertical-align: bottom; }
.uiGrid .hLeft { text-align: left; }
.uiGrid .hCent { text-align: center; }
.uiGrid .hRght { text-align: right; }
._51mx:first-child > ._51m- { padding-top: 0px; }
._51mx:last-child > ._51m- { padding-bottom: 0px; }
._51mz ._51mw { padding-right: 0px; }
._51mz ._51m-:first-child { padding-left: 0px; }
.pluginButton { background: none repeat scroll 0% 0% rgb(236, 238, 245); border-radius: 3px; border: 1px solid rgb(202, 212, 231); cursor: pointer; padding: 2px 6px 4px; white-space: nowrap; color: rgb(59, 89, 152); }
.pluginButtonInline { display: inline-block; }
.pluginButtonX { cursor: default; }
.pluginButton button { background: none repeat scroll 0% 0% transparent; border: 0px none; margin: -1px; padding: 0px; font: inherit; color: inherit; cursor: pointer; }
.pluginButton button::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko .pluginButton button:focus { outline: 1px dotted; }
.pluginButtonIcon { position: relative; top: 3px; margin-right: 3px; }
.pluginButtonSmall { padding: 0px 5px 2px; }
.pluginButtonSmall .pluginButtonIcon { margin-right: 2px; }
.pluginButtonIconPlaceholder { display: block; height: 14px; width: 5px; }
.pluginButton:hover { border-color: rgb(157, 172, 206); }
.pluginButtonPressed, .pluginButtonPressed:hover { background-color: rgb(238, 238, 238); border-color: rgb(221, 221, 221); color: rgb(170, 170, 170); }
.pluginSkinDark .pluginButton { background-color: rgb(199, 199, 199); border-color: rgb(153, 153, 153); color: rgb(51, 51, 51); }
.pluginSkinDark .pluginButton:hover { background-color: rgb(217, 217, 217); border-color: rgb(221, 221, 221); }
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover { background-color: rgb(68, 68, 68); border-color: rgb(85, 85, 85); color: rgb(102, 102, 102); }
.pluginButtonErrorLink { color: rgb(170, 0, 0); font-weight: bold; }
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn, .pluginButtonX button:focus .pluginButtonXOn { display: inline-block; }
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff, .pluginButtonX button:focus .pluginButtonXOff { display: none; }
.pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber { display: none; }
form.async_saving .pluginButtonThrobber { display: inline-block; margin-top: 2px; margin-bottom: 1px; max-width: 14px; }
.sp_like { background-image: url('tbhIfdAHjXE.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 14px; width: 14px; }
.sx_like_fav { background-position: 0px 0px; }
.sx_like_favgrey { background-position: 0px -15px; }
.sx_like_ch { background-position: 0px -30px; }
.sx_like_x { background-position: 0px -45px; }
.sx_like_thumb { background-position: 0px -60px; }
.sx_like_send { background-position: 0px -75px; }
.sx_like_sendp { background-position: 0px -90px; }
i.img {  }
i.img u { left: -999999px; position: absolute; }
.uiLayer { outline: medium none; }
._4-nd { float: right; }
._5f0v { outline: medium none; }
._3oxt { outline: 1px dotted rgb(59, 89, 152); }
.uiTypeaheadView .basic ._5dzy { float: none; }
.uiTypeaheadView .compact ._5dzy { display: inline-block; position: static; }
.UFIReplySocialSentenceLinkText ._5dzy { margin-left: 1px; }
._5dzy { display: inline-block; }
._5dzz { height: 14px; margin-left: 3px; vertical-align: -2px; width: 14px; }
._5d-3._5dzz { height: 16px; margin-left: 2px; vertical-align: -3px; width: 16px; }
._5dz- { height: 15px; margin-left: 3px; vertical-align: -2px; width: 15px; }
._5dz_ { height: 17px; margin-left: 3px; vertical-align: -4px; width: 17px; }
._5d-0 { height: 19px; margin-left: 2px; vertical-align: -3px; width: 19px; }
._5d-1 { height: 19px; margin-left: 4px; vertical-align: -2px; width: 19px; }
._5d-3._5d-1 { height: 26px; margin-left: 4px; vertical-align: -5px; width: 26px; }
._56_f._5dzz { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -16px -124px; }
._56_f._5d-3._5dzz { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -191px -82px; }
._56_f._5dz- { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -32px -124px; }
._56_f._5dz_ { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -312px -97px; }
._56_f._5d-0 { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -101px; }
._56_f._5d-1 { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -105px -101px; }
._56_f._5d-3._5d-1 { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -220px -53px; }
.uiTypeaheadView .selected ._56_f._5dzz { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -124px; }
.selected ._56_f._5dz_ { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -295px -97px; }
.UFICommentContent ._56_f { margin-left: 1px; }
.uiTypeaheadView .compact li { min-height: 32px; padding: 2px 10px 2px 45px; }
.uiTypeaheadView .compact li.raw { min-height: 0px; padding: 0px; }
.uiTypeaheadView .compact .splitpics, .uiTypeaheadView .compact img { display: block; height: 32px; left: 6px; position: absolute; width: 32px; }
.uiTypeaheadView .compact img.secretTagIcon { display: inline-block; height: 9px; left: 0px; margin-right: 4px; position: relative; top: 1px; width: 9px; }
.uiTypeaheadView .compact .text { font-weight: bold; }
.uiTypeaheadView .compact .disabled_result .text { font-weight: normal; }
.uiTypeaheadView .compact .wrappingHeader { font-weight: bold; position: relative; white-space: normal; }
.uiTypeaheadView .compact .wrappingHeader .auxTitle { color: gray; font-weight: normal; }
.uiTypeaheadView .compact .details { color: rgb(153, 153, 153); padding-top: 0px; }
.uiTypeaheadView .compact .detailsContents { position: relative; }
.uiTypeaheadView .compact .splitpic { float: left; overflow: hidden; width: 15px; }
.uiTypeaheadView .compact .splitpics img { left: 0px; margin-left: -8px; position: static; }
.uiTypeaheadView .compact .splitpics .leftpic { margin-right: 1px; width: 16px; }
.uiTypeaheadView .compact .splitpics .toppic { height: 15px; margin-bottom: 1px; }
.uiTypeaheadView .compact .splitpics .bottompic { height: 16px; }
.uiTypeaheadView .compact .splitpics .toppic img, .uiTypeaheadView .compact .splitpics .bottompic img { margin-top: -8px; }
.uiTypeaheadView .compact .friendlist img { background-color: transparent; }
.uiTypeaheadView .basic img { display: block; float: left; padding-right: 4px; }
div.uiTypeaheadView .basic .calltoaction { padding: 3px; }
.uiTypeaheadView { display: block; left: 0px; position: absolute; top: 100%; width: 100%; }
.uiContextualTypeaheadView { position: static; }
.uiTypeaheadView ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 2px; border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(41, 62, 106); overflow: hidden; padding: 2px 0px; }
.uiTypeaheadView .freeform { border-top-color: rgb(221, 221, 221); padding: 2px 6px 1px; text-align: center; }
.uiTypeaheadView li { border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; color: rgb(51, 51, 51); cursor: pointer; display: block; min-height: 1px; padding: 0px 6px; position: relative; }
.uiTypeaheadView strong { background-color: rgb(216, 223, 234); color: rgb(59, 89, 152); }
div.uiTypeaheadView .selected { background-color: rgb(109, 132, 180); border-color: rgb(59, 89, 152); }
.highContrast div.uiTypeaheadView .selected { border-right-width: 10px; }
.uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span { color: rgb(255, 255, 255) ! important; }
.uiTypeaheadView .selected strong { background-color: rgb(86, 112, 166); }
.uiTypeaheadView .text, .uiTypeaheadView .subtext, .uiTypeaheadView .category { display: block; overflow: hidden; padding-bottom: 2px; text-overflow: ellipsis; white-space: nowrap; }
.uiTypeaheadView .category { color: rgb(102, 102, 102); }
.uiTypeaheadView .subtext { color: rgb(153, 153, 153); }
.uiTypeaheadView .arrow { background: url('IJYgcESal33.png') repeat scroll 0px -413px transparent; display: inline-block; height: 7px; margin-left: 4px; width: 4px; }
.uiTypeaheadView .selected .arrow { background-position: 0px -420px; }
div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell { background: none repeat scroll 0% 0% rgb(247, 247, 247); border-bottom: medium none rgb(221, 221, 221); border-color: rgb(221, 221, 221); display: block; margin: 2px 0px -2px; min-height: 1px; padding: 8px; }
.uiTypeaheadView li.disabled { color: rgb(153, 153, 153); }
div.uiTypeaheadView li.calltoaction { text-align: center; }
div.uiTypeaheadView li.browseMore { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div.uiTypeaheadView li.browseUpsell { cursor: default; }
.uiTypeaheadView.typeaheadViewLoading li.browseUpsell { display: none; }
div.uiTypeaheadView .browseSuccess .browseSignup, div.uiTypeaheadView .browseJoined { display: none; }
div.uiTypeaheadView .browseSignup, div.uiTypeaheadView .browseSuccess .browseJoined { display: inherit; }
div.uiTypeaheadView li.calltoaction.selected { background: none repeat scroll 0% 0% rgb(109, 132, 180); border-color: rgb(59, 89, 152); }
div.typeaheadViewLoading li.calltoaction span.text { visibility: hidden; }
div.typeaheadViewLoading li.calltoaction { background: url('GsNJNwuI-UM.gif') no-repeat scroll 50% 50% rgb(247, 247, 247); }
div.typeaheadViewLoading li.calltoaction.selected { background: url('AGUNXgX_Wx3.gif') no-repeat scroll 50% 50% rgb(109, 132, 180); }
.uiTypeaheadView .bucketed ul { padding: 0px; }
.uiTypeaheadView .bucketed .header { background-color: rgb(242, 242, 242); border-top: 1px solid rgb(226, 226, 226); border-bottom: medium none; margin-top: 4px; min-height: 10px; padding: 2px 15px 2px 6px; }
.uiTypeaheadView .bucketed .disabled_result { color: gray; font-weight: normal; margin-top: 4px; min-height: 10px; padding: 2px 15px 2px 6px; }
.uiTypeaheadView .bucketed .header:first-child { border-top: medium none; margin-top: 0px; }
.uiTypeaheadView .bucketed .header .text { color: rgb(0, 0, 0) ! important; }
._42ft { cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko ._42ft:focus { outline: 1px dotted rgb(59, 89, 152); }
._42ft:hover { text-decoration: none; }
._42ft + ._42ft { margin-left: 4px; }
._42fr, ._42fs { cursor: default; }
.pop_container_advanced { background: none repeat scroll 0% 0% rgba(82, 82, 82, 0.7); border-radius: 8px; padding: 10px; }
.generic_dialog { height: 0px; left: 0px; overflow: visible; outline: medium none; position: fixed; top: 0px; width: 100%; z-index: 200; }
.generic_dialog_modal, .generic_dialog_fixed_overflow { background-color: rgba(252, 252, 252, 0.9); height: 100%; z-index: 400; }
.generic_dialog_fixed_overflow { overflow-x: auto; overflow-y: scroll; }
.generic_dialog_fixed_overflow .generic_dialog_popup { height: auto; padding-bottom: 40px; }
.generic_dialog_overflow_mode body { overflow: hidden ! important; }
.generic_dialog_popup { height: 0px; overflow: visible; width: 465px; margin: 0px auto; }
.generic_dialog div.dialog_loading { background-color: rgb(242, 242, 242); border: 1px solid rgb(96, 96, 96); font-size: 24px; padding: 10px; }
.pop_content { direction: ltr; outline: medium none; }
.pop_dialog_rtl .pop_content { direction: rtl; }
.pop_content h2.dialog_title { background: none repeat scroll 0% 0% rgb(109, 132, 180); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(59, 89, 152) rgb(59, 89, 152) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin: 0px; }
.pop_content h2.secure { background: url('jp8TzrZb6J1.png') no-repeat scroll 98% center rgb(109, 132, 180); }
.pop_content h2.loading { background: url('AGUNXgX_Wx3.gif') no-repeat scroll 98% center rgb(109, 132, 180); }
.pop_content h2.dialog_loading { background: url('AGUNXgX_Wx3.gif') no-repeat scroll 400px 10px rgb(109, 132, 180); padding-right: 40px; }
.pop_content h2 span { display: block; padding: 5px 10px; }
.pop_content .dialog_content { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(85, 85, 85); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(85, 85, 85); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.pop_content .dialog_content.dialog_content_titleless { border-top: 1px solid rgb(85, 85, 85); }
.pop_content .dialog_loading, .dialog_loading_shown .dialog_title, .dialog_loading_shown .dialog_content { display: none; }
.dialog_loading_shown .dialog_loading { display: block; }
.pop_content .dialog_body { padding: 10px; border-bottom: 1px solid rgb(204, 204, 204); }
.omitDialogFooter .pop_content .dialog_body { border-bottom: 0px none; }
.pop_content .dialog_summary { background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 8px 10px; border-bottom: 1px solid rgb(204, 204, 204); }
.pop_content .dialog_buttons { background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 8px 10px; position: relative; }
.pop_content .dialog_buttons_msg { line-height: 17px; padding-top: 4px; }
.pop_content .dialog_buttons_msg .uiInputLabel { line-height: 14px; }
.pop_content .dialog_footer { background: none repeat scroll 0% center rgb(242, 242, 242); }
.full_bleed .pop_content .dialog_body { padding: 0px; }
.uiButton { cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; }
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -352px -103px; background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.uiButton + .uiButton { margin-left: 4px; }
.uiButton:hover { text-decoration: none; }
.uiButton:active, .uiButtonDepressed { background: none repeat scroll 0% 0% rgb(221, 221, 221); border-bottom-color: rgb(153, 153, 153); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
.uiButton .img { margin-top: 2px; overflow: hidden; vertical-align: top; }
.uiButtonLarge .img { margin-top: 4px; }
.uiButton .customimg { margin-top: 0px; }
.uiButtonText, .uiButton input { background: none repeat scroll 0% 0% transparent; border: 0px none; color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; font-weight: bold; line-height: 13px; margin: 0px; padding: 1px 0px 2px; white-space: nowrap; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko .uiButton input:focus { outline: thin dotted; }
.uiButtonOverlay, .uiButtonOverlay:hover { background-clip: padding-box; background-color: rgba(255, 255, 255, 0.8); background-image: none; border-color: rgba(0, 0, 0, 0.35); border-radius: 2px; }
.uiButtonOverlay:focus, .uiButtonOverlay:active { background-color: rgba(249, 250, 252, 0.9); border-color: rgba(59, 89, 152, 0.5); }
form.async_saving .uiButton.uiButtonOverlay, .uiButtonOverlay.uiButtonDisabled, .uiButtonOverlay.uiButtonDisabled:active, .uiButtonOverlay.uiButtonDisabled:focus, .uiButtonOverlay.uiButtonDisabled:hover { background-color: rgba(255, 255, 255, 0.8); border-color: rgba(180, 180, 180, 0.8); }
.uiButtonOverlay.uiButtonDepressed { background-color: rgba(0, 0, 0, 0.05); }
.uiButtonSpecial { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -352px -299px; background-color: rgb(105, 167, 78); border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21); }
.uiButtonSpecial:active { background: none repeat scroll 0% 0% rgb(96, 153, 70); border-bottom-color: rgb(59, 110, 34); }
form.async_saving .uiButton.uiButtonSpecial, .uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active, .uiButtonSpecial.uiButtonDisabled:focus, .uiButtonSpecial.uiButtonDisabled:hover { background: none repeat scroll 0% 0% rgb(180, 211, 167); border-color: rgb(157, 183, 145); }
.uiButtonConfirm { background-image: url('i_w0lGI-t7X.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -352px -54px; background-color: rgb(91, 116, 168); border-color: rgb(41, 68, 126) rgb(41, 68, 126) rgb(26, 53, 110); }
.uiButtonConfirm:active { background: none repeat scroll 0% 0% rgb(79, 106, 163); border-bottom-color: rgb(41, 68, 126); }
form.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover { background: none repeat scroll 0% 0% rgb(173, 186, 212); border-color: rgb(148, 162, 191); }
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input { color: rgb(255, 255, 255); }
form.async_saving .uiButton, .uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled:focus, .uiButtonDisabled:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); border-color: rgb(200, 200, 200); box-shadow: none; }
form.async_saving .uiButton .img, .uiButtonDisabled .img { opacity: 0.5; }
form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input { color: rgb(184, 184, 184); }
form.async_saving .uiButton, form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDepressed, .uiButtonDepressed .uiButtonText, .uiButtonDepressed input, .uiButtonDisabled, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input { cursor: default; }
.uiButtonLarge { height: 19px; }
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input { font-size: 13px; line-height: 16px; }
.uiButtonSuppressed { background: none repeat scroll 0% 0% transparent; border-color: transparent; box-shadow: none; }
.uiButtonNoText .img { margin-left: -1px; margin-right: -1px; }
.android .uiButtonText, .android .uiButton input { padding: 3px 0px 1px 1px; }
.gecko.mac .uiButton, .gecko.mac .uiButtonText, .gecko.mac .uiButton input { line-height: 14px; }
.gecko.mac .uiButtonLarge, .gecko.mac .uiButtonLarge .uiButtonText, .gecko.mac .uiButtonLarge input { line-height: 16px; }
.gecko.mac .uiButtonText, .gecko.mac .uiButton input { margin-bottom: -1px; }
.gecko.mac .uiButtonLarge .uiButtonText, .gecko.mac .uiButtonLarge input { margin-bottom: 0px; }
.fixed_elem, .fixed_always { position: fixed ! important; }
.tinyViewport .fixed_elem { position: static ! important; }
.uiContextualLayerPositioner { height: 0px; position: absolute; z-index: 200; }
.uiContextualLayer { position: absolute; }
div.uiContextualLayerPositionerFixed { position: fixed; }
.uiContextualLayerParent { position: relative; }
.uiMentionsInput { position: relative; }
.uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead { background: none repeat scroll 0% 0% transparent; }
.uiMentionsInput .mentionsTextarea { line-height: 1.28; }
.uiMentionsInput .highlighter { left: 0px; overflow: hidden; position: absolute; padding: 4px; top: 0px; }
.gecko .uiMentionsInput .highlighter { padding: 4px 5px; }
.uiMentionsInput .highlighter div { color: transparent; line-height: 1.28; white-space: pre-wrap; width: 100%; word-wrap: break-word; }
.uiMentionsInput .highlighterContent { display: inline-block; max-width: 100%; }
.uiMentionsInput .highlighter b { background: linear-gradient(rgb(220, 230, 248), rgb(189, 207, 241)) repeat scroll 0% 0% transparent; border-radius: 2px; box-shadow: 0px 0px 0px 1px rgb(163, 188, 234); font-weight: normal; }
.uiMentionsInput .highlighter b.weak { background: linear-gradient(rgb(234, 234, 234), rgb(215, 215, 215)) repeat scroll 0% 0% transparent; box-shadow: 0px 0px 0px 1px rgb(128, 128, 128); }
.textMetrics { border: medium none; height: 1px; overflow: hidden; padding: 0px; position: absolute; top: -1e+7px; }
.textMetricsInline { white-space: pre; }
.webkitZoomTest { font-size: 100px; height: 1em; position: absolute; }
.uiTypeahead { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-style: solid; border-color: rgb(189, 199, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; cursor: default; position: relative; }
.uiTypeahead .wrap { border-style: solid; border-color: rgb(189, 199, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.uiTypeahead .innerWrap { overflow: hidden; }
.uiTypeahead .textInput { background-color: transparent; border: 0px none; -moz-box-sizing: border-box; outline: 0px none; width: 100%; }
.uiTypeahead .selected { background-color: rgb(226, 232, 246); }
.uiTypeaheadDisabled, .uiTypeaheadDisabled div.wrap { border-color: rgb(204, 204, 204); }
.uiTypeaheadDisabled div.wrap { background: none repeat scroll 0% 0% rgb(226, 226, 226); }
.uiTypeaheadDisabled div.wrap .textInput { color: rgb(51, 51, 51); }
.uiStickyPlaceholderInput { display: inline-block; position: relative; }
.uiStickyPlaceholderInput input, .uiStickyPlaceholderInput textarea { background-color: transparent; position: relative; }
.uiStickyPlaceholderInput .placeholder { color: rgb(153, 153, 153); cursor: text; display: none; height: 100%; left: 0px; padding: 4px 0px 0px 5px; position: absolute; top: 0px; width: 100%; }
.uiTypeahead .uiStickyPlaceholderInput .placeholder { padding: 3px 0px 0px 4px; }
div.uiStickyPlaceholderTextarea .placeholder { padding: 6px 0px 0px 6px; }
div.uiStickyPlaceholderEmptyInput .placeholder { display: block; }
.uiTypeahead .uiStickyPlaceholderInput { width: 100%; }
.uiClearableTypeahead .selected .uiStickyPlaceholderInput { margin-right: 16px; }
.uiCloseButton { cursor: pointer; display: inline-block; margin: 0px; padding: 0px; }
label.uiCloseButton { overflow: hidden; }
.uiCloseButton input { cursor: pointer; opacity: 0; outline: medium none; padding: 18px; }
.uiCloseButton { background-image: url('4WSewcWboV8.png'); background-repeat: no-repeat; height: 15px; width: 15px; }
.uiCloseButtonSmall { background-image: url('ogYrclupeJV.png'); height: 11px; margin-top: 1px; width: 11px; }
.uiCloseButtonHuge { background-image: url('ubIGOTIgUYc.png'); }
.uiCloseButtonDark { background-position: left -16px; }
.uiCloseButtonInverted { background-image: url('33RpiRygxAr.png'); background-position: left -16px; }
.uiCloseButtonGray { background-image: url('gmSNAxiWQKY.png'); }
.uiCloseButton:hover, .uiCloseButton:focus { background-position: left -32px; }
.uiCloseButton:active { background-position: left -48px; }
.uiCloseButtonSmallDark { background-position: left -12px; }
.uiCloseButtonSmallGray { background-image: url('8FA3puZNL-X.png'); }
.uiCloseButtonSmallInverted { background-image: url('Vi-KTnbdMKr.png'); background-position: left -12px; }
.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus { background-position: left -24px; }
.uiCloseButtonSmall:active { background-position: left -36px; }
.uiCloseButtonHighContrast { display: none; }
.highContrast .uiCloseButtonHighContrast { display: inline-block; }
.uiPopover .uiCloseButton { background-clip: padding-box; border: 1px solid transparent; margin: 0px; }
.uiPopover.openToggler .uiCloseButton { background-position: left -32px; }
.uiPopover.openToggler .uiCloseButtonSmall { background-position: left -24px; }
.uiPopover.openToggler .uiCloseButton, .uiPopover.openToggler .uiCloseButton:active, .uiPopover.openToggler .uiCloseButton:focus, .uiPopover.openToggler .uiCloseButton:hover { background-color: rgb(109, 132, 180); border-width: 1px; border-style: solid; border-color: rgb(59, 89, 152) rgb(59, 89, 152) rgb(109, 132, 180); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: none; }
.uiToken { background: none repeat scroll 0% 0% rgb(226, 230, 240); border: 1px solid rgb(157, 172, 204); border-radius: 2px; color: rgb(28, 42, 71); cursor: default; display: block; float: left; height: 14px; margin: 0px 4px 4px 0px; padding: 0px 3px; position: relative; white-space: nowrap; }
.uiToken .remove { margin: 2px 0px -2px 1px; outline: medium none; }
.uiTokenSelected { background-color: rgb(109, 132, 180); border-color: rgb(59, 89, 152); color: rgb(255, 255, 255); }
.uiTokenGray { background: none repeat scroll 0% 0% rgb(221, 221, 221); border-color: gray; }
