<!DOCTYPE html> 

<html> 
<head> 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/lib/css/screen.css" title="opening" /> 

<script src="../lib/js/jquery/jquery.min.js" type="text/javascript"></script> 
<script src="../lib/js/jquery/jquery-ui.min.js" type="text/javascript"></script>

</head>
<body>
    <div id="container" class='cc_18'>

        <div id="header" class='cc_18'>
            <div class='title cc_06' style='float:left;'>
                <h1 class='cc_06'>EVE KOSOFSKY SEDGWICK</h1>
            </div>
            {% include nav.html %}
            
        </div>

        <div id='content-container' class='cc_18'>
            <div id='content' class='cc_14'>

                {% include nav-cat.html %}
                {% include filter_by.liquid %}

                {{ content }}
            
            </div>
            <div id='right' class='cc_04'>
            </div>
        </div>

        <footer>
            <div class='left'></div>
            <div class='content'></div>
            <div class='right'></div>   
        </footer>
    </div>
</body>
</html>