<!DOCTYPE html> 

<html> 
<head> 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/lib/css/screen.css" title="opening" /> 

<script src="../lib/js/jquery/jquery.min.js" type="text/javascript"></script> 
<script src="../lib/js/jquery/jquery-ui.min.js" type="text/javascript"></script>

<style type="text/css">

</style>

</head>
<body>
    <div id='container'>
        <header>
            <h1><SPAN style=''>THE ARCHIVES OF</SPAN> EVE<BR>KOSOFSKY SEDGWICK</h1>
                <ul id="nav" class="nav">
                    <li><a href="/biography.html">LIFE</a></li> 

                    <li><a href="/archive/">ARCHIVE</a></li> 

                    <li><a href="/blog/">BLOG</a></li> 

                    <li><a href="/about/about.html">RESOURCES</a></li> 

                </ul>
<!--
            <ul id='nav' class='nav'>
                    <li><a href='/biography.html'>LIFE</a></li> 
                    {% for nav in site.nav %}
                    <li>{{ nav | category_link }}</li> 
                    {% endfor %}
                </ul>
-->
        </header>
            

        <div id='main'>
                
                {{ content }}

        </div>

        <footer>
 
        </footer>
    </div>
</body>
</html>