---
layout: base
---
<section id='title' class='under'>   
<!--  removes big bold title line
    <h3>{{ page.title | upcase }}{% if page.sub-title %}<span> {{ page.sub-title| upcase }}</span>{% endif %}</h3>
-->
    {% include filing_notes.liquid %}
        
</section>

{% for media in page.related_media %}
    {% if media['type'] == 'album' %}
        {% assign album_number = forloop.index %}
        {% assign album_name = media['name'] %}
        {% include album.liquid %}
    {% endif %}
{% endfor %}

<section class='content book'>
    
    {% include marginal.liquid %}
    
    <h5> <h8>{{ page.title | upcase }}{% if page.sub-title %}: {{ page.sub-title | upcase }}{% endif %}{% if page.category == 'writing' %} ({% if page.pub-date != 10000 %}{{page.pub-date}}{% else %} forthcoming {% endif %}){% endif %}</h8> </h5>
    {% assign biblio = page.editions[0] %}
    <h6 class='biblio'>({{ biblio['location'] | upcase }}: {{ biblio['publisher'] | upcase }}, {{ biblio['date'] }}. {{ biblio['binding'] | upcase }}. {{ biblio['isbn'] }}. {{ biblio['pages'] }})</h6>
    
    {{ content }}
    
</section>

{% include extras.liquid %}

