---
layout: base
---
<section id='title' class='under'>   
    <h3>{{ page.title | upcase }}{% if page.sub-title %}<span> {{ page.sub-title| upcase }}</span>{% endif %}</h3>
    <h6>FILED UNDER - {{ page.nav | category_link }}/{{ page.category | category_link }}/{{ page.sub-category | sub_category_link: page.category }}

        {% assign online = false %}
        {% for url in page.urls %}
            {% assign online = true %}
        {% endfor %}
        {% if online %}
            <span class='right'>ONLINE - 
            {% for url in page.urls %}
            <a href='{{ url['url'] }}' target='blank'>{{ url['display'] | upcase }}</a>            
            {% endfor %}
            </span>
        {% endif %}
        </h6>
</section>

<div class='content book'>
    {% if page.cover_img %}
    <img class='cover' src='/images/archive/book-covers/{{ page.cover_img }}'>
    {% endif %}
    <h5>{{ page.title }}{% if page.sub-title %}: {{ page.sub-title }}{% endif %}</h5>
    {% assign biblio = page.editions[0] %}
    <h6 class='biblio'>({{ biblio['location'] | upcase }}: {{ biblio['publisher'] | upcase }}, {{ biblio['date'] }}. {{ biblio['binding'] | upcase }}. {{ biblio['isbn'] }}. {{ biblio['pages'] }})</h6>
    
    {{ content }}
    
</div>
