---
layout: base
---

<h2 class="category">{{ page.title }}</h2>
<div class="posts">
    {% for category in site.categories_by_sub[page.category] %}
        {% for sub in category %}
            <h3>{{ sub.name | category_link: 'sub' }}</h3>
            {% for post in sub.posts %}
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <div class="categories">Filed under {{ post.categories | category_link: 'category' }}</div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

 