---
layout: base
---
<h1 class="category">{{ page.title }}</h1>
<div class="posts">
    {% for category in site.categories_by_type['teaching'] %}
            {% for sortable in category %}
                <h2>{{ sortable.name }}</h2>
                {% for post in sortable.posts %}
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categories">Filed under {{ post.categories | category_links }}</div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
</div>

 