<!DOCTYPE html> 

<html> 
<head> 
	<!-- <link rel="icon" type="image/png" href="images/favicon.png"> --> 

	<title>Eve Kosofsky Sedgwick | Styleguide: Block Elements</title> 
	<meta charset="UTF-8"> 


	<!-- Style Sheet Link Definitions --> 
	<link rel="stylesheet" type="text/css" href="../css/screen.css" title="opening" /> 
	<!--<link rel="stylesheet" type="text/css" href="screen.css" title="opening" /> -->

	<!-- Script Links -->  
	<!-- jQuery:Google Api --> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script> 

	<!-- Local
	<script src="javascript/sampler.js" type="text/javascript"></script>
	<script src="http://liknaitzky.com/evesedgwick/javascript/proto.js" type="text/javascript"></script> --> 

</head> 
<body>
	<!--page header-->
	<div id="page_header" class="container cc_18">
		<h1>Eve Kosofsky Sedgwick</h1>
	</div>
	<!--/page header-->
	
	<!-- left column -->
	<div id="left_column" class="column_container left cc_03">
		<div id="navigation" style="padding-top:8px;">
			<ul>
				<li><a class="menu" href="index.html">Home</a>
				</li>
				<li class="rule"></li>
				<li><a class="menu" href="news.html">news</a>
				</li>
				<li class="rule"></li>
				<li><a class="nonlinking">Life</a>
					<ul class="sub_menu">
						<li class="leaf"><a href="biography.html">Biography</a></li>
						<li class="leaf"><a href="photographs.html">Photographs</a></li>
					</ul>
				</li>
				<li class="rule"></li>
				<li><a class="nonlinking">Writing</a>
					<ul class="sub_menu">
						<li class="leaf"><a href="books.html">Books</a></li>
						<li class="leaf"><a href="bibliography.html">Bibliography</a></li>
					</ul>
				</li>
				<li class="rule"></li>
				<li><a class="nonlinking">Art</a>
					<ul class="sub_menu">
						<li class="leaf"><a href="exhibitions.html">Exhibitions</a></li>
						<li class="leaf"><a href="images.html">Images</a></li>
					</ul>
				</li>
				<li class="rule"></li>
				<li><a class="nonlinking">Teaching</a>
					<ul class="sub_menu">
						<li class="leaf"><a href="syllabi.html">Syllabi</a></li>
						<li class="leaf"><a href="supporting_material.html">Supporting Material</a></li>
					</ul>
				</li>
				<li class="rule"></li>
				<li><a class="nonlinking">Resources</a>
					<ul class="sub_menu">
						<li class="leaf"><a href="about.html">About</a></li>
						<li class="leaf"><a href="contact.html">Contact</a></li>
						<li class="leaf"><a href="links.html">Links</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /left column-->
	
	<!-- center column -->
	<div id="center_column" class="cc_12">
	
    {{ content }}
	
	</div>
	<!-- /center column-->
	
	<!-- right column -->
	<div id="right_column" class="column_container left cc_03">
		<div class="side_module container cc_03">
			<h3 style="text-transform:none; margin:0px; padding:0px 0px 1px 2px; line-height:28px;">Search <span class="sub" style="font-weight:normal; font-style:italic;color:#999;">via Google</span></h3>
			<div id="search_field" class="c_3 right" style="height:30px;">     
				<form style="font-size:11px;" method="get" name="searchform" action="http://www.google.com/search" target="_blank">
						<input type="hidden" name="sitesearch" value="liknaitzky.com/evesedgwick" />
						<input class="c_3 " style="width:124px;color:#808080;" alt="search" type="text" name="as_q" size="20" value="evesedgwick.com" />
				</form>
			</div>
		</div>
	</div>
	<!-- /right column-->
	
	<!-- page footer -->
	<div id="page_footer" class="footer container cc_18">
		<div class="column left cc_03"></div>
		<div class="column left cc_12">
		<h6>Copyright &copy; 2010-2011 Hal Sedgwick. All rights reserved.</h6>
		</div>
		<div class="column right cc_03"></div>
	</div>
	<!-- /page footer -->
	
</body>
</html> 