---
layout: base
---

<section id='title'>    
    <h2 style=''>{{ page.nav | upcase }} <span>{{ page.category | resource_link}}</span></h2>
    <ul class='nav' id='sub-nav'>
        {% for nav in site.navs_by_category[page.nav] %}
        {% for category in nav %}
        <li>{{ category.name | resource_link }}</li>   
        {% endfor %}
        {% endfor %}
    </ul>
</section>

{% for media in page.related_media %}
    {% if media['type'] == 'album' %}
        {% assign album_number = forloop.index %}
        {% assign album_name = media['name'] %}
        {% include album.liquid %}
    {% endif %}
{% endfor %}

<section class='content'>

    {% include marginal.liquid %}

    {{ content }}

</section>

{% include extras.liquid %}