---
layout: base
---
<h1 class="category">{{ page.tag }}</h1>
<div class="posts">
    {% for tag in site.tags_by_category[page.tag] %}
        {% for category in tag %}
            <h2>{{ category.name | category_link: 'category' }}</h2>
		    {% for post in category.posts %}
                <h2>{{ post.name }}</h2>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <div class="categories">Filed under {{ post.categories | category_link: 'category' }}</div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>